@import "../../css/_mixins.scss";
@import "../../css/_theme-vars.scss";
/* Skin-specific styles
----------------------- */

html {
	font-size: 18px;
}
body {
	letter-spacing: 0.1px;
}
.sidebar .sidebar_inner {
	@include border-radius(5px);
}
.sidebar[class*="scheme_"] .sidebar_inner {
	padding: 0;
}
.elementor-widget-sidebar .widget,
.sidebar[class*="scheme_"] .widget {
	padding: 35px 40px;
}
.elementor-widget-sidebar .widget_title,
.sidebar[class*="scheme_"] .widget_title {
	margin: -35px -40px 30px;
	display: block;
	padding-bottom: 18px;
	position: relative;
}
.elementor-widget-sidebar .widget_title:after,
.sidebar[class*="scheme_"] .widget_title:after {
	content: "";
	position: absolute;
	width: 100%;
	display: block;
	height: 10px;
	bottom: -10px;
	border-radius: 5px;
	border-bottom: 3px solid transparent;
	@include box-sizing(content-box);
}
.elementor-widget-sidebar .widget + .widget,
.sidebar .widget + .widget,
.sidebar[class*="scheme_"] .widget + .widget {
	margin-top: 1.8rem;
}
input[type="text"], input[type="number"], input[type="email"], input[type="url"], input[type="tel"], input[type="password"], input[type="search"], select, textarea, textarea.wp-editor-area, form.mc4wp-form .mc4wp-form-fields input[type="email"], .tourmaster-form-field input[type="text"], .tourmaster-form-field input[type="email"], .tourmaster-form-field input[type="password"], .tourmaster-form-field textarea, .tourmaster-form-field select, .tourmaster-form-field.tourmaster-with-border input[type="text"], .tourmaster-form-field.tourmaster-with-border input[type="email"], .tourmaster-form-field.tourmaster-with-border input[type="password"], .tourmaster-form-field.tourmaster-with-border textarea, .tourmaster-form-field.tourmaster-with-border select, .woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text, #buddypress div.dir-search input[type="search"], #buddypress div.dir-search input[type="text"], #buddypress li.groups-members-search input[type="search"], #buddypress li.groups-members-search input[type="text"], #buddypress .standard-form input[type="color"], #buddypress .standard-form input[type="date"], #buddypress .standard-form input[type="datetime-local"], #buddypress .standard-form input[type="datetime"], #buddypress .standard-form input[type="email"], #buddypress .standard-form input[type="month"], #buddypress .standard-form input[type="number"], #buddypress .standard-form input[type="password"], #buddypress .standard-form input[type="range"], #buddypress .standard-form input[type="search"], #buddypress .standard-form input[type="tel"], #buddypress .standard-form input[type="text"], #buddypress .standard-form input[type="time"], #buddypress .standard-form input[type="url"], #buddypress .standard-form input[type="week"], #buddypress .standard-form select, #buddypress .standard-form textarea, #give-recurring-form .form-row input[type="email"], #give-recurring-form .form-row input[type="password"], #give-recurring-form .form-row input[type="tel"], #give-recurring-form .form-row input[type="text"], #give-recurring-form .form-row input[type="url"], #give-recurring-form .form-row select, #give-recurring-form .form-row textarea, form.give-form .form-row input[type="email"], form.give-form .form-row input[type="password"], form.give-form .form-row input[type="tel"], form.give-form .form-row input[type="text"], form.give-form .form-row input[type="url"], form.give-form .form-row select, form.give-form .form-row textarea, form[id*="give-form"] .form-row input[type="email"], form[id*="give-form"] .form-row input[type="password"], form[id*="give-form"] .form-row input[type="tel"], form[id*="give-form"] .form-row input[type="text"], form[id*="give-form"] .form-row input[type="url"], form[id*="give-form"] .form-row select, form[id*="give-form"] .form-row textarea, form[id*="give-form"] .give-donation-amount #give-amount, form[id*="give-form"] .give-donation-amount #give-amount-text, form[id*="give-form"] #give-final-total-wrap .give-final-total-amount, form[id*="give-form"] .give-donation-amount .give-currency-symbol, form[id*="give-form"] .give-donation-amount .give-currency-symbol.give-currency-position-before, form[id*="give-form"] .give-donation-amount .give-currency-symbol.give-currency-position-after, form[id*="give-form"] #give-final-total-wrap .give-donation-total-label {
	@include border-radius(5px);
	padding: 0.78em 2em;
	letter-spacing: 0.3px;
}
.widget input[type="text"], .widget input[type="number"], .widget input[type="email"], .widget input[type="url"], .widget input[type="tel"], .widget input[type="password"], .widget input[type="search"], .widget select, .widget textarea, .widget textarea.wp-editor-area {
	padding: 0.8em 1.6em;
}
.ua_ie .widget_search .search-field {
	line-height: 1em;
	padding-top: 0.99em;
	padding-bottom: 0.99em;
}
.ua_ie .widget_product_search .search_field {
	line-height: 1.2em;
}
.widget_search form:after,
.woocommerce.widget_product_search form:after,
.widget_display_search form::after, #bbpress-forums #bbp-search-form:after {
	font-size: 15px;
}
table th, table td,
.sc_table table th, .sc_table table td {
	padding: 1em 1em;
}
.trx_addons_dropcap {
	@include border-radius(5px);
}
.trx_addons_dropcap.trx_addons_dropcap_style_2 {
	margin: 10px 18px 3px 0;
}
.widget_calendar td#today:before {
	top: 50%;
}
.sc_edd_details .downloads_page_tags .downloads_page_data > a, .widget_product_tag_cloud a, .widget_tag_cloud a {
	@include border-radius(5px);
}
body .recentcomments > a {
	margin: 0 0 0 !important;
}
.widget_recent_comments ul li {
	margin-top: 18px;
}

/* Images */
.post_featured {
	@include border-radius(5px);
	z-index: 1;
}
.post_layout_chess .post_featured {
	@include border-radius(0);
}

/* Buttons */
form button:not(.components-button),
input[type="button"],
input[type="reset"],
input[type="submit"],
.theme_button,
.post_item .more-link,
.gallery_preview_show .post_readmore,
.wp-block-button__link,
	/* BB PRess */
#buddypress .comment-reply-link,
#buddypress .generic-button a,
#buddypress a.button,
#buddypress button,
#buddypress input[type="button"],
#buddypress input[type="reset"],
#buddypress input[type="submit"],
#buddypress ul.button-nav li a,
#buddypress div.activity-meta a,
a.bp-title-button,
	/* Booked */
body #booked-profile-page input[type="submit"],
body #booked-profile-page button,
body .booked-list-view input[type="submit"],
body .booked-list-view button,
body table.booked-calendar input[type="submit"],
body table.booked-calendar button,
body .booked-modal input[type="submit"],
body .booked-modal button,
	/* MailChimp */
.mc4wp-form .mc4wp-form-fields input[type="submit"],
	/* ThemeREX Addons*/
.sc_button,
.sc_form button,
	/* Tour Master */
.tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"],
	/* Tribe Events */
#tribe-bar-form .tribe-bar-submit input[type="submit"],
#tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"],
#tribe-bar-form button,
#tribe-bar-form a,
#tribe-bar-form input,
#tribe-bar-form .tribe-bar-views-toggle,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
.tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
#tribe-events .tribe-events-button,
.tribe-events-button,
.tribe-events-cal-links a,
.tribe-events-sub-nav li a,
.tribe-events-read-more,
#tribe-events-footer ~ a.tribe-events-ical.tribe-events-button,
	/* EDD buttons */
.edd_download_purchase_form .button,
#edd-purchase-button,
.edd-submit.button,
.widget_edd_cart_widget .edd_checkout a,
	/* WooCommerce buttons */
.woocommerce .button, .woocommerce-page .button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce input[type="button"], .woocommerce-page input[type="button"],
.woocommerce input[type="submit"], .woocommerce-page input[type="submit"],
.woocommerce .woocommerce-message .button,
.woocommerce ul.products li.product .button,
.woocommerce div.product form.cart .button,
.woocommerce #review_form #respond p.form-submit input[type="submit"],
.woocommerce-page #review_form #respond p.form-submit input[type="submit"],
.woocommerce table.my_account_orders .order-actions .button,
.woocommerce table.cart td.actions .button,
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
	/* Disabled state */
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit[disabled]:disabled,
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button[disabled]:disabled,
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button[disabled]:disabled,
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button[disabled]:disabled,
.yith-woocompare-widget a.clear-all {
	@include border-radius(5px);
}
input[type="submit"],
input[type="reset"],
input[type="button"] {
	padding: 0.88em 2.8em;
}
.sc_button_simple {
	font-size: 15px !important;
	font-weight: 700;
	letter-spacing: 0 !important;
	text-transform: none !important;
}
/* Field error */
body .trx_addons_message_box_success,
body .wpcf7 div.wpcf7-mail-sent-ok {
	border-color: #66cc66 !important;
	border-width: 2px;
}
span.wpcf7-not-valid-tip {
	color: #ff3f3e;
}
.trx_addons_field_error, .wpcf7-not-valid {
	border-color: #ff3f3e !important;
}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	border-color: #ff3f3e !important;
	color: #535353;
	background: #fff;
}
form .error_field {
	border-color: #ff3f3e !important;
	@include box-shadow(none);
}
form .trx_addons_message_box {
	@include border-radius(24px);
	@include box-shadow(none !important);
}
.trx_addons_message_box_error {
	border: 2px solid #ff3f3e;
	color: #535353;
	background: #fff;
}
.trx_addons_message_box {
	font-size: 14px;
	line-height: 18px;
	padding: 0.8em 1.6em;
	background-color: #fff;
	@include border-radius(5px !important);
}
.wpcf7 textarea {
	height: 16em;
}
div.wpcf7-mail-sent-ok, div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
	@include border-radius(5px !important);
}


/* TRX Addons */

/* Video Icons */
.trx_addons_video_player.with_cover .video_hover, .format-video .post_featured.with_thumb .post_video_hover, .sc_layouts_blog_item_featured .post_featured.with_thumb .post_video_hover {
	width: 62px;
	height: 62px;
	line-height: 64px;
}

/* Audio */
.trx_addons_audio_player {
	padding: 2.5em;
}

/* Icons */
.sc_icons_extra .sc_icons_icon:before, .sc_icons_extra .sc_icons_icon > span:before {
	font-size: 1rem !important;
}
.sc_icons_default .sc_icons_item {
	@include border-radius(5px);
}

/* Price */
.sc_price_item .sc_price_item_price {
	@include border-radius(5px);
}
.sc_price_item .sc_price_item_title {
	font-weight: 800;
}
.sc_price_item_description ul[class*="trx_addons_list"], .sc_price_item_details ul[class*="trx_addons_list"] {
	padding-left: 1.5em;
}
.sc_price_item_description ul[class*="trx_addons_list"] > li::before, .sc_price_item_details ul[class*="trx_addons_list"] > li::before {
	font-size: 24px;
	font-weight: 300;
}
.sc_price_item_description ul, .sc_price_item_details ul {
	font-weight: 400;
}





/* Sidebar
-------------------------------------------------------------- */
.elementor-widget-sidebar .widget,
.sidebar_inner .widget {
	@include border-radius(5px);
}
.widget .widget_title, .widget .widgettitle {
	display: block;
	text-align: center;
}
.widget ul > li:before {
	top: 0.8em;
}
.widget ol li, .widget ul li {
	margin-top: 0;
	margin-bottom: 0;
}
.widget ol li, .widget ul li {
	font-size: 15px;
}
.widget ul {
	overflow: hidden;
}
.widget li {
	font-weight: 600;
	z-index: 1;
}
.widget li > a {
	position: relative;
	//z-index: -1;
	padding: 5px 0;
	&:after {
		content: "";
		display: block;
		width: 100000%;
		height: 100%;
		background: #ddd;
		position: absolute;
		left: -1.45em;
		top: 0;
		z-index: -1;
		opacity: 0;
		@include transition-all(0.3s);
	}
	&:hover:after {
		opacity: 1;
	}
}
/* Widget Search */
.sidebar_inner .widget_product_search,
.sidebar_inner .widget_search {
	padding: 2.68em 2.78em;
	@include box-sizing(border-box);

}
/* Widget Items */
aside .post_item + .post_item {
	margin-top: 1.65em;
}
.widget_area .post_item .post_title, aside .post_item .post_title {
	margin: -3px 0 12px 0;
	line-height: 1.23em;
	font-weight: 700;
	font-size: 18px;
}
.widget_area .post_item .post_categories, aside .post_item .post_categories {
	font-size: 12px;
	line-height: 14px;
	font-weight: 600;
	margin-top: 0;
	margin-bottom: 0.7em;
	padding-right: 3em;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.widget_area .post_item .post_info, aside .post_item .post_info {
	font-size: 14px;
	line-height: 16px;
}
.widget_recent_posts {
	overflow: visible;
	counter-reset: headings 0;
}
.widget_area .post_item .post_thumb,
aside .post_item .post_thumb {
	width: 95px;
	height: 95px;
	@include border-radius(50%);
	overflow: visible;
	position: relative;
	margin: 0 27px 6px 0;
}
.widget_area .post_item .post_thumb img,
aside .post_item .post_thumb img {
	@include border-radius(50%);
	overflow: hidden;
}
.widget_recent_posts .post_item.with_thumb .post_thumb:before {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 34px;
	height: 34px;
	counter-increment: headings 1;
	content: counter(headings, decimal);
	font-weight: 600;
	font-size: 15px;
	line-height: 33px;
	text-indent: 0;
	text-align: center;
	@include border-radius(50%);
	overflow: hidden;
}
/* Header */
body .sc_layouts_row_type_compact,
body .sc_layouts_row_type_compact.sc_layouts_row_fixed_on {
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.sc_layouts_title_title > .sc_layouts_title_caption {
	margin-top: 0;
}
.sc_layouts_title .sc_layouts_title_caption {
	display: inline-block;
	@include border-radius(5px);
	padding: 16px 25px 14px;
}
.sc_layouts_title .sc_layouts_title_meta {
	& .post_meta {
		margin: 0;
	}
	position: relative;
	z-index: 2;
	margin: 0 27px;
}
.sc_layouts_title.with_tint.with_content:before {
	background: transparent;
}
.sc_layouts_title.fixed_height .sc_layouts_title_content {
	max-width: $page;
	width: 100%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
	top: auto;
	bottom: 30px;
}
.sc_layouts_title.fixed_height .sc_layouts_title_caption {
	max-height: 6em;
}
.sc_layouts_title {
	& .sc_layouts_title_title {
		line-height: 0;
	}
	& .sc_layouts_title_meta .post_meta_item:after {
		display: none;
	}
	& .sc_layouts_title_meta .post_meta_item.post_categories a,
	& .sc_layouts_title_meta .post_meta_item {
		margin-bottom: 0 !important;
		margin-right: 1px;
		margin-top: 3px;
	}
	& .sc_layouts_title_breadcrumbs .breadcrumbs {
		display: inline-block;
		text-transform: none;
		font-size: 13px;
		line-height: 1.2em;
		font-weight: 600;
		letter-spacing: 0.4px;
		-webkit-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
		padding: 6px 20px;
		vertical-align: text-bottom;
	}
	& .sc_layouts_title_meta + .sc_layouts_title_title {
		margin-top: -11px;
	}
	& .sc_layouts_title_title + .sc_layouts_title_breadcrumbs {
		margin: -11px 27px 0;
		line-height: 0;
	}
}
.sc_layouts_row_type_normal .socials_wrap .social_item .social_icon {
	position: relative;
	display: block;
	background-size: 100%;
	background-position: top center;
	overflow: hidden;
	width: 48px;
	height: 48px;
	line-height: 48px;
	@include border-radius(5px);
}
.sc_layouts_row_type_normal .socials_wrap .social_item .social_icon.social_icon_twitter {
	background-color: #219DFC !important;
	color: #ffffff !important;
}
.sc_layouts_row_type_normal .socials_wrap .social_item .social_icon.social_icon_facebook {
	background-color: #223F77 !important;
	color: #ffffff !important;
}
.sc_layouts_row_type_normal .socials_wrap .social_item .social_icon.social_icon_tumblr {
	background-color: #35465c !important;
	color: #ffffff !important;
}
.sc_layouts_row_type_normal .socials_wrap .social_item .social_icon.social_icon_pinterest-circled,
.sc_layouts_row_type_normal .socials_wrap .social_item .social_icon.social_icon_pinterest {
	background-color: #bd081c !important;
	color: #ffffff !important;
}
.sc_layouts_row_type_normal .socials_wrap .social_item .social_icon.social_icon_instagramm {
	background-color: #FF3F3E !important;
	color: #ffffff !important;
}
/* Menu */
.sc_layouts_menu_nav .menu-collapse > a:before {
	font-weight: 400;
}
.sc_layouts_menu_nav li {
	text-align: left;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li.menu-item-has-children > a:after, .sc_layouts_menu_nav li li.menu-item-has-children > a:after,
.sc_layouts_menu_nav > li.menu-item-has-children > a:after {
	display: none;
}
.sc_layouts_menu_nav > li > a,
.sc_layouts_menu_nav > li.menu-item-has-children > a {
	padding: 1em 1.5em;
}
.sc_layouts_menu_nav > li.menu-item-has-children[class*="icon-"] > a,
.sc_layouts_menu_nav > li[class*="icon-"] > a {
	padding-left: 1.5em;
}
.sc_layouts_menu_nav > li[class*="icon-"]:before {
	padding: 0.9em 0;
	left: 0.2em;
}
.sc_layouts_menu_nav ul {
	@include border-radius(5px);
}
.sc_layouts_menu_nav > li > ul {
	top: 4.5em;
	left: -0.7em;
	margin-left: 0;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_nav > li ul {
	width: 12.2em;
	padding: 1.5em 0;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_popup .sc_layouts_menu_nav > li > ul, .sc_layouts_menu_nav > li > ul ul {
	left: 12.2em;
	top: -1.5em;
	margin: 0 0 0 1px;
}
.sc_layouts_menu_nav > li > ul ul.submenu_left {
	left: -12.8em;
	margin: 0 0 0 -1px;
}
.sc_layouts_menu_nav > li > ul ul.sc_layouts_submenu.submenu_left {
	left: auto;
	right: 12em;
	margin: 0;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav > li.menu-item-has-children > a, .sc_layouts_menu_nav li li.menu-item-has-children > a,
.sc_layouts_menu_popup .sc_layouts_menu_nav > li > a, .sc_layouts_menu_nav > li li > a {
	padding: 0.38em 2.2em;
}
.sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_nav > li ul {
	@include box-shadow(none);
}
.sc_layouts_menu_nav > li.current-menu-item > a, .sc_layouts_menu_nav > li.current-menu-parent > a, .sc_layouts_menu_nav > li.current-menu-ancestor > a {
	font-weight: 700 !important;
}
/* Menu in Narrow */
.sc_layouts_row.sc_layouts_row_type_narrow .sc_layouts_menu_nav > li > a {
	font-weight: 700;
	letter-spacing: 0.3px;
}
.sc_layouts_row.sc_layouts_row_type_compact .sc_layouts_column_align_left .sc_layouts_menu_nav > li:first-child > a,
.sc_layouts_row.sc_layouts_row_type_narrow .sc_layouts_column_align_left .sc_layouts_menu_nav > li:first-child > a {
	padding-left: 0;
}
/* Spacer */
.elementor-widget-spacer.sc_height_tiny .elementor-spacer-inner {
	height: 16px !important;
}
.elementor-widget-spacer.sc_height_small .elementor-spacer-inner {
	height: 23px !important;
}
.elementor-widget-spacer.sc_height_medium .elementor-spacer-inner {
	height: 30px !important;
}
.elementor-widget-spacer.sc_height_large .elementor-spacer-inner, .elementor-widget-spacer.sc_height_big .elementor-spacer-inner {
	height: 78px !important;
}
/* Accent Title */
.sc_title_accent h5.sc_item_title_tag + .sc_item_descr,
.sc_title_accent h5.sc_item_title_tag + .sc_item_slider,
.sc_title_accent h5.sc_item_title_tag + .sc_item_columns,
.sc_title_accent h5.sc_item_title_tag + .sc_item_content {
	margin-top: 1em;
}
.sc_title_accent .sc_item_descr p {
	line-height: 1.45em;
}
.sc_title_accent .sc_item_descr {
	font-size: 1em;
	font-style: normal;
}
.sc_item_title_style_accent > .sc_item_title_text {
	position: relative;
	display: flex;
	flex-direction: row;
	&:after {
		content: "";
		display: block;
		height: 1px;
		margin-left: 25px;
		margin-top: 1px;
		flex: auto;
		min-width: 30px;
		align-self: center;
		display: none;
	}
}
.sc_item_title_style_accent.sc_align_right > .sc_item_title_text {
	&:after {
		display: none;
	}
	&:before {
		content: "";
		display: block;
		height: 1px;
		margin-right: 25px;
		margin-top: 1px;
		flex: auto;
		min-width: 30px;
		align-self: center;
	}
}
.sc_item_title_style_accent.sc_align_center > .sc_item_title_text {
	&:after {
		content: "";
		display: block;
		height: 1px;
		margin-left: 25px;
		margin-top: 1px;
		flex: auto;
		min-width: 30px;
		align-self: center;
	}
	&:before {
		content: "";
		display: block;
		height: 1px;
		margin-right: 25px;
		margin-top: 1px;
		flex: auto;
		min-width: 30px;
		align-self: center;
	}
}
.sc_title_accent .sc_button_simple {
	padding: 0;
}
.sc_title_accent .sc_button_simple:before, .sc_title_accent .sc_button_simple:after {
	display: none;
}
.sc_title_accent .title-wrap-go {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.sc_title_accent.right-go .title-wrap-go {
	flex-direction: row-reverse;
}
.sc_title_accent .title-wrap-go .sc_item_title {
	flex: auto;
}
.sc_title_accent .title-wrap-go .sc_item_button {
	margin: 0 0 0 25px;
}
.sc_title_accent .title-wrap-go .sc_item_title.sc_align_right + .sc_item_button {
	margin: 0 25px 0 0;
}
/* Socials in footer */
.footer_wrap .sc_socials_icons_names {
	.socials_wrap {
		margin: 0;
		white-space: normal;
	}
	.social_item {
		display: inline-block;
		min-width: 105px;
		text-align: center;
		vertical-align: middle;
		margin: 0;
		padding: 25px 5px;
		line-height: 16px;
		@include transition-bg-color(0.3s);
		@include border-radius(5px);
	}
	.social_item + .social_item {
		margin-left: 15px;
	}
	.social_item:hover {
		background-color: #3D3633 !important;
	}
	.social_icon {
		margin: 0;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		height: auto;
		line-height: 1em;
		font-size: 24px;
		@include border-radius(0);
		background: transparent !important;
	}
	.social_item .social_name {
		display: inline-block;
		vertical-align: middle;
		font-size: 15px;
		line-height: 18px;
		font-weight: 700;
		margin: 14px 0 0 0;
		letter-spacing: 0.3px;
	}
}
/* Meta */
.comments_list_wrap .comment_author:after,
.post_meta .post_meta_item:after,
.post_meta .post_meta_item.post_edit:after,
.post_meta .vc_inline-link:after {
	content: '';
	font-family: inherit;
	font-size: inherit;
	font-weight: 400;
	font-style: normal;
	vertical-align: baseline;
	margin: 0 0.8em;
	width: 7px;
	height: 7px;
	@include border-radius(50%);
	@include box-sizing(border-box);
	border: 1px solid #ddd;
	display: inline-block;
}
.post_meta .post_meta_item.post_categories:after {
	width: 0;
	height: 0;
	border: none;
}
.sc_layouts_title .sc_layouts_title_meta a.post_meta_item:not(.post_categories) {
	@include transition-all(0.3s);
}
.sc_layouts_title .sc_layouts_title_meta .post_meta_item:not(.post_categories),
.post_meta .post_meta_item.post_categories a {
	display: inline-block;
	text-transform: none;
	font-size: 13px;
	line-height: 1.23em;
	font-weight: 600;
	letter-spacing: 0.4px;
	@include border-radius(5px);
	padding: 6px 20px 5px;
	margin-bottom: 3px;
	margin-right: 1px;
	vertical-align: middle;
}
.post_meta .post_meta_item.post_categories a:last-child {
	margin-right: 0;
}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before,
input[type="radio"] + .wpcf7-list-item-label:before,
input[type="checkbox"] + .wpcf7-list-item-label:before,
.wpcf7-list-item-label.wpcf7-list-item-right:before,
.edd_price_options ul > li > label > input[type="radio"] + span:before,
.edd_price_options ul > li > label > input[type="checkbox"] + span:before {
	top: 2px;
}
/* Video Hover Zoom */
.post_featured.with_thumb.hover_play > img {
	@include transition-property(transform);
}
.post_featured.with_thumb.hover_play:hover > img {
	@include scale(1.08, 1.08);
}
.post_featured.with_thumb.hover_play .mask {
	display: none;
}
/* Blog */
.post_format_gallery .slider_pagination_wrap {
	display: none;
}
/* Single posts */
blockquote {
	@include border-radius(5px);
}
.post_content_single > blockquote:first-child {
	margin-top: 0 !important;
}
.post_item_single .post_content > .post_meta_single {
	margin-top: 3em;
	padding-top: 4.3em;
}
.single-post .page_content_wrap .content {
	padding: 70px;
	@include border-radius(5px);
	position: relative;
	z-index: 1;
}
.single-post .page_content_wrap .post_featured {
	@include border-radius(5px);
	position: relative;
	z-index: 1;
}
.post_item_single .post_content .post_tags a {
	margin: 0 8px 8px 0;
	font-size: 13px !important;
	font-weight: 600;
	@include border-radius(5px);
}
.post_item_single .post_content > .post_meta_single:before {
	font-weight: 300;
}
.post_item_single .post_content > .post_meta_single .post_share .social_item .social_icon {
	width: 2.75em;
	height: 2.75em;
	line-height: 2.75em;
	text-align: center;
	font-size: 15px;
	border-radius: 5px;
	font-weight: 300;
}
.single_style_out-below-fullwidth .post_header_wrap .post_header .post_content_meta {
	padding-bottom: 0;
	border-bottom: none;
}
.single_style_out-below-fullwidth .post_header_wrap {
	margin-bottom: 2em;
}
.single_style_out-sticky-fullwidth .post_header_wrap .post_header {
	@include border-radius(5px);
}
.single_style_out-sticky-fullwidth .post_header_wrap .post_featured + .post_header {
	border: none;
}
.single_style_out-sticky-fullwidth .post_header_wrap .post_featured.post_featured_bg {
	@include border-radius(0);
}


/* author */
.author_info {
	margin-top: 1.3em;
}
.author_avatar {
	border: 2px solid #ddd;
	padding: 3px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	top: 2.5rem;
}
.author_title {
	margin-top: 0;
	margin-bottom: 6px;
	font-size: 18px;
	font-weight: 800;
}
.author_bio {
	font-size: 16px;
}
.author_bio .author_link {
	margin-top: 6px;
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
}
.author_description {
	padding-left: 130px;
}
.author_info {
	padding: 2.4em 0;
}
.section_title {
	margin: 0 0 1.1em;
	font-size: 30px;
}
/* Comments */
.comment-form-cookies-consent label {
	font-size: 14px;
	font-weight: 500;
	padding-left: 1.6em;
}
.show_comments_wrap {
	margin-top: 1.8em;
}
.comments_form_wrap {
	margin-top: 4em;
	padding-top: 4em;
	border-top: 1px solid #ddd;
}
.comments_list_wrap {
	margin-top: 4em !important;
	padding-top: 0 !important;
	border-top: none;
}
.comments_list_wrap .comment_content {
	padding-left: 100px;
}
.comments_list_wrap .comment_text {
	margin-bottom: 0.5em;
	font-size: 16px;
}
.comments_list_wrap .comment_info {
	margin: -0.2em 0 0.5em;
}
.comments_list_wrap .comment_author, .comments_list_wrap .comment_posted {
	font-size: 13px;
	font-weight: 600;
	letter-spacing: 0.3px;
}
.comments_list_wrap .comment_author_avatar {
	border: 2px solid #ddd;
	padding: 1px;
}
.comments_list_wrap .comment_author_avatar {
	width: 62px;
	height: 62px;
	line-height: 95px;
}
.show_comments.sc_button:after {
	content: '\e963';
	font-family: $theme_icons;
	font-style: normal;
	font-size: 10px;
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	margin-right: 0;
	margin-top: -2px;
}
.comments_list_wrap .comment_author {
	margin: 0;
}
.comments_list_wrap .comment_author:after {
	margin: 0 0.65em;
}
.comments_list_wrap .comment_info {
	padding-right: 35px;
}
.comments_list_wrap .comment_content {
	position: relative;
}
.comments_list_wrap .comment_reply {
	font-size: 15px;
	line-height: 1em;
	font-weight: 700;
	font-style: normal;
	letter-spacing: 0.5px;
	margin-top: 5px;
	text-transform: none;
	position: absolute;
	right: 0;
	top: 0;
}
.show_comments {
	padding: 1.4em 3em;
	width: 100%;
}
.comments_list_wrap li + li, .comments_list_wrap li ul {
	margin-top: 0;
	border-top: none;
}
.comments_list_wrap ul ul {
	margin-left: 100px;
}
.comments_list_wrap ul li + li, .comments_list_wrap li > ul > li {
	padding-top: 1.8em;
}
.comments_list_wrap ul > li, .comments_list_wrap ul > li .comment_content {
	min-height: 65px;
}
.comments_list_wrap ul li + li > .comment_body > .comment_author_avatar, .comments_list_wrap li > ul > li > .comment_body > .comment_author_avatar {
	top: 1.85em;
}
.comments_wrap .form-submit {
	margin: 1.1em 0 1px;
}
/* Related */
.related_wrap {
	margin-top: 3em;
}
.single-product .related > h2,
.page_contact_form .page_contact_form_title,
.related_wrap .section_title.related_wrap_title {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 18px;
	font-weight: 800;
	line-height: 1.24em;
	text-transform: capitalize;
	letter-spacing: 0;
	margin-bottom: 1em;
}
.single-product .related > h2:after,
.page_contact_form .page_contact_form_title:after,
.related_wrap .section_title.related_wrap_title:after {
	content: "";
	display: block;
	height: 1px;
	margin-left: 25px;
	flex: auto;
	min-width: 30px;
	display: none;
}
.related_wrap.sc_team_posts .post_featured {
	position: relative;
	z-index: 1;
	@include border-radius(5px);
}
.related_wrap.sc_team_posts .post_title,
.related_wrap.related_style_classic .post_title {
	font-weight: 800;
}
.related_wrap.sc_team_posts .width_cat_top + .post_meta.cat_top, .related_wrap.related_style_classic .width_cat_top + .post_meta.cat_top {
	margin-top: -18px;
}
.related_wrap.sc_team_posts .post_featured + .post_header, .related_wrap.sc_team_posts .post_meta.cat_top + .post_header, .related_wrap.related_style_classic .post_featured + .post_header, .related_wrap.related_style_classic .post_meta.cat_top + .post_header {
	margin-top: 0.7em;
}
.related_wrap.sc_team_posts .post_header .post_meta, .related_wrap.related_style_classic .post_header .post_meta {
	margin-top: 1.2em;
}
.related_wrap .format-audio .post_featured.without_thumb .post_audio:not(.with_iframe) {
	padding: 1em;
}
.related_wrap .mejs-controls .mejs-time {
	margin-top: -2px;
}
body .related_wrap .mejs-time {
	font-size: 12px;
}
.related_wrap .mejs-controls .mejs-button.mejs-volume-button {
	margin: 0 5px;
}
.related_wrap .mejs-controls .mejs-playpause-button {
	margin-right: 5px;
}

/* Twitter */
.sc_widget_twitter {
	position: relative;
}
.sc_twitter.sc_twitter_default {
	margin-bottom: 20px;
}
.sc_twitter_default .sc_twitter_item {
	padding: 0 30px 45px;
	@include box-sizing(border-box);
	border: 1px solid #ddd;
}
.sc_twitter_default .sc_twitter_item_content {
	text-align: center;
	font-size: 18px;
	line-height: 1.7em;
	font-weight: 600;
	font-style: italic;
	letter-spacing: 0;
}
.widget_content .sc_twitter_default .sc_twitter_item a,
.widget_content .sc_twitter_default .widget_content ul > li a {
	font-weight: 600;
}
.sc_widget_twitter .sc_twitter_default .sc_twitter_item .sc_twitter_item_icon {
	text-align: center;
	font-size: 1.9rem;
	font-style: normal;
	margin-bottom: -8px;
	margin-top: 0;
	display: block;
	width: 68px;
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	line-height: 50px;
	top: -25px;
	position: relative;
}
.widget_twitter_follow {
	border: none;
	@include border-radius(5px);
	padding: 0.5em 1.6em;
	white-space: nowrap;
	text-transform: capitalize;
}
.widget_twitter .widget_twitter_follow:after {
	display: none;
}
.widget_twitter .sc_twitter_default + .widget_twitter_follow:before {
	display: block;
	width: auto;
	content: '';
	height: 40px;
	position: absolute;
	left: -22px;
	right: -22px;
	z-index: -2;
	top: 0;
	border-left: 20px solid green;
	border-right: 20px solid green;
}
.sc_twitter_default + .widget_twitter_follow {
	margin: 0;
	@include abs-cb();
	bottom: -20px;
	height: 40px;
	line-height: 40px;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.widget_twitter .widget_content .sc_twitter_item .sc_twitter_item_icon:before {
	color: #219DFC !important;
}
.single-post .page_content_wrap .content .sc_twitter_default .sc_twitter_item {
	border: none;
	@include border-radius(5px);
}
.single-post .page_content_wrap .content .widget_twitter .sc_twitter_default + .widget_twitter_follow:before {
	display: none;
}
.single-post .page_content_wrap .content .sc_widget_twitter .sc_twitter_default .sc_twitter_item .sc_twitter_item_icon {
	background-color: transparent;
}

/* Widget Banner */
.widget.widget_banner:not(.widget_fullwidth) .image_wrap {
	border: 1px solid #ddd;
	padding: 33px;
	@include box-sizing(border-box);
}

/* Slider */
.slider_style_default.slider_outer_overflow_hidden .slider_centered.slider_multi.slider_noresize.slider_height_fixed[data-slides-per-view="2"] {
	//width: 180% !important;
	//margin-left: -40% !important;
}
.slider_style_default.slider_outer_overflow_hidden .slider_centered .slider-slide {
	@include border-radius(5px);
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.slide_info .post_meta .post_meta_item.post_categories a {
	margin: 3px 3px 0 3px;
	@include border-radius(5px);
}
.slider_container.slider_multi .slide_info_small, .slider_container .slide_info_small {
	text-shadow: none;
}
.slider_container .slide_info .post_meta {
	margin: 0;
}
.slider_container .slide_info .post_meta + .slide_title {
	margin-top: -10px !important;
}
.slider_container .slide_info.slide_info_large {
	padding: 36px;
}
.slider_container .slide_info.slide_info_large .slide_cats a {
	font-size: 13px;
	line-height: 1.25em;
	font-weight: 600;
	text-transform: none;
}
.slider_container .slide_overlay:hover,
.slider_container .slide_overlay {
	background: rgba(0, 0, 0, 0.05);
}
.slider_container .slide_info.slide_info_large:hover,
.slider_container .slide_info.slide_info_large {
	background-color: transparent !important;
}
.slider_container.slider_titles_center .slide_info_large {
	width: 55%;
	padding: 0;
}
.slider_container.slider_multi .slide_title,
.slider_container .slide_info:not(.slide_info_large) .slide_title {
	font-size: 1.6em;
	margin: 0;
	line-height: 1.2em;
}
.slider_container .slide_info .slide_title {
	font-size: 20px;
	margin: 0;
	padding: 11px 25px;
	@include border-radius(5px);
}
.slider_container .slide_info.slide_info_large .slide_title {
	font-size: 36px;
	line-height: 1.2em;
	font-weight: 800;
	text-transform: none;
	margin: 0;
	padding: 13px 25px 11px;
	@include border-radius(5px);
}
.slider_container .slide_info.slide_info_large .slide_title + .post_meta {
	font-size: 18px;
}
.slider_container .slide_info.slide_info_large .post_meta .post_meta_item:after {
	width: 9px;
	height: 9px;
	border-width: 2px;
	margin: 0 0.9em;
}
.elementor-section-stretched .slider_titles_center.slider_container.slider_controls_side .slider_controls_wrap > .slider_prev {
	margin-left: 50px;
}
.elementor-section-stretched .slider_titles_center.slider_container.slider_controls_side .slider_controls_wrap > .slider_next {
	margin-right: 50px;
}
.slider_container.slider_titles_rb .slide_info_large {
	text-align: right;
	width: 90%;
}
.slider_container.slider_titles_lb .slide_info_large {
	width: 90%;
	text-align: left;
}
.slider_container.slider_titles_rb .slide_info .slide_cats {
	margin-right: 24px;
}
.slider_container.slider_titles_lb .slide_info .slide_cats {
	margin-left: 24px;
}
.slider_container.slider_multi .slide_title, .slider_container.slider_multi .slide_title a, .slider_container .slide_info:not(.slide_info_large) .slide_title, .slider_container .slide_info:not(.slide_info_large) .slide_title a {
	color: #302825;
}

/* Slider Centered */
.slider_outer_centered .slider_container .slider-slide .slide_info {
	opacity: 0;
	@include transition-all(0.3s);
	background: transparent !important;
	@include box-shadow(none !important);
}
.slider_outer_centered .slider_container .slider-slide.swiper-slide-active .slide_info {
	opacity: 1 !important;
}
/* Anim */
.slider_outer_centered .slider_container .slider-slide .slide_info  {
	-webkit-transition: opacity 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	-ms-transition: opacity 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
	transition: opacity 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.slider_outer_centered .slider_container .slider-slide .slide_info {
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	animation-delay: 0.2s;
}


/* Blogger */
.sc_blogger_item_list .sc_blogger_item_meta .post_meta_label,
.sc_blogger .sc_blogger_item_featured .post_meta_label {
	display: inline;
}
.sc_blogger .sc_blogger_item_featured {
	@include border-radius(5px);
	position: relative;
	z-index: 1;
}

.sc_blogger_item_default .trx_addons_video_player.with_cover {
	position: absolute;
	overflow: hidden;
	z-index: 9;
	height: 100%;
	width: 100%;
	top: 0;
}

/* Blogger Default - on plate */
.sc_blogger_item_default.sc_blogger_item_on_plate {
	& .sc_blogger_item_content {
		padding: 23px;
	}
	& .sc_blogger_item_body {
		padding: 13px;
		@include border-radius(5px);
	}

	&.sc_blogger_item_image_position_left .sc_blogger_item_content,
	&.sc_blogger_item_image_position_alter.sc_blogger_item_odd .sc_blogger_item_content {
		padding-left: 2em;
	}
	&.sc_blogger_item_image_position_right .sc_blogger_item_content,
	&.sc_blogger_item_image_position_alter.sc_blogger_item_even .sc_blogger_item_content {
		padding-right: 2em;
	}
}

/* Blogger - over_bottom */
.sc_blogger_default_over_bottom .sc_item_featured {
	[class*="post_info_"] {
		width: 100%;
		background: none !important;
		padding: 0 1.8em 1.6em;
		max-width: 90%;
		@include transform(none);
		left: 0;
		text-align: left;
	}
	[class*="post_info_"] .sc_blogger_item_title {
		font-size: 36px;
		font-weight: 800;
		line-height: 1.2em;
		display: inline-block;
		@include border-radius(5px);
		padding: 11px 28px 11px;
		background-color: #fff;
	}
	.mask {
		display: block;
		background-color: rgba(0,0,0, 0);
		opacity: 1;
	}
	[class*="post_info_"] > .post_meta:first-child {
		position: relative;
		z-index: 2;
		margin-left: 28px;
	}
	[class*="post_info_"] .post_meta + .entry-title {
		margin-top: -13px;
	}
	[class*="post_info_"] .entry-title + .post_meta {
		margin-top: 12px;
	}
}
body .sc_blogger_default_over_bottom .sc_item_featured [class*="post_info_"] .sc_blogger_item_title a {
	color: #302825 !important;
}


/* Blogger - List */
.sc_blogger_item_list.sc_blogger_item_on_plate .sc_blogger_item_content {
	padding: 0;
}
.sc_blogger_list {
	& .sc_blogger_item_image_position_left .sc_blogger_item_title,
	& .sc_blogger_item_image_position_right .sc_blogger_item_title,
	& .sc_blogger_item_image_position_alter .sc_blogger_item_title,
	& .sc_blogger_item_title {
		font-size: 18px;
		font-weight: 800;
		line-height: 1.3em;
	}
	& .post_meta .post_meta_item.post_categories a {
		@include border-radius(0);
		padding: 0;
		background: none !important;
	}
	& .post_meta .post_meta_item.post_categories a:after {
		content: ', ';
	}
	& .post_meta .post_meta_item.post_categories a:last-child:after {
		content: '';
	}
	& .post_meta_categories {
		margin: 0;
	}
	& .sc_blogger_item_title + .post_meta {
		margin-top: 0.65em;
	}

	& .sc_blogger_item_list.sc_blogger_item_on_plate .sc_blogger_item_body {
		padding: 13px;
		@include border-radius(5px);
	}
	& .sc_blogger_item_featured {
		@include border-radius(5px);
		z-index: 1;
		align-self: baseline;
	}
}

/* Blogger - over_centered_simple */
.sc_blogger_default_over_centered_simple .sc_item_featured {
	[class*="post_info_"] {
		width: 100%;
		background: none !important;
		padding: 3.3em;
		max-width: 75%;
	}
	[class*="post_info_"] .sc_blogger_item_title {
		font-size: 36px;
		line-height: 1.2em;
	}
	.mask {
		display: block;
		background-color: rgba(0, 0, 0, 0.4);
		opacity: 1;
	}
	[class*="post_info_"] .post_meta + .entry-title {
		margin-top: 15px;
	}
	[class*="post_info_"] .entry-title + .post_meta {
		margin-top: 25px;
	}
}
.sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .post_meta,
.sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .post_meta .post_meta_item:after,
.sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .post_meta .post_meta_item,
.sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .post_meta a {
	color: #fff !important;
	border-color: #fff !important;
	opacity: 1;
	@include transition-all(0.3s);
}
body .sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .sc_blogger_item_title a {
	color: #fff !important;
	background-image: linear-gradient(to right, #fff 0%, #fff 100%) !important;
}

/* Blogger - classic_meta_simple */
.sc_blogger_default.sc_blogger_default_classic_meta_simple_big,
.sc_blogger_default.sc_blogger_default_classic_meta_simple {
	& .sc_blogger_item_default {
		padding-bottom: 0;
	}
	& .sc_blogger_item_default.sc_blogger_item_image_position_top .sc_blogger_item_featured + .sc_blogger_item_content {
		margin-top: 0;
	}
	& .sc_blogger_item_default.sc_blogger_item_image_position_top .sc_blogger_item_featured {
		margin-bottom: 20px;
	}
	& .sc_blogger_item_default.sc_blogger_item_image_position_top .sc_blogger_item_featured + .sc_blogger_item_content > .post_meta.post_meta_categories {
		margin-top: -33px;
	}
	& .sc_blogger_item_on_plate.sc_blogger_item_default.sc_blogger_item_image_position_top .sc_blogger_item_featured + .sc_blogger_item_content > .post_meta.post_meta_categories {
		margin-top: -60px;
	}
	& .post_meta.post_meta_categories .post_categories {
		position: relative;
		z-index: 100;
	}
	& .post_meta {
		margin-top: 1.5em;
	}
	& .post_meta_categories {
		margin: 0 0 1.2em;
	}
	& .sc_blogger_item_excerpt {
		padding-right: 15%;
	}
}
.sc_blogger_default.sc_blogger_default_classic_meta_simple_big {
	& .post_meta {
		margin-top: 1.5em;
	}
	& .sc_blogger_item_title {
		font-size: 36px;
	}
}


/* Chess */
.post_layout_chess_1 .post_title {
	font-size: 36px;
	font-weight: 800;
}

/* Blogger - Chess */
.sc_blogger_chess {
	& .post_layout_chess {
		padding: 13px;
		@include border-radius(5px);
	}
	& .post_layout_chess .post_featured {
		@include border-radius(5px);
	}
	& .post_layout_chess .post_content_inner:after {
		display: none;
	}
	& .more-link {
		display: none;
	}
	& .post_content_inner {
		padding: 0;
	}
	& .post_layout_chess_1 .post_header + .post_content {
		margin-top: 1rem;
	}
	& .post_layout_chess_1 .post_title + .post_meta {
		margin-top: 1.4em;
	}
	& .post_layout_chess_1 .post_inner_content {
		padding: 49px 66px;
	}
	& .post_layout_chess .post_featured_bg:before {
		padding-top: 75%;
	}
}




/* Promo Default */
.sc_promo.sc_promo_default {
	& .sc_promo_title {
		line-height: 1.7em;
	}
	& .sc_item_subtitle {
		display: inline-block;
		text-transform: none;
		font-size: 13px;
		line-height: 1.2em;
		font-weight: 600;
		letter-spacing: 0.4px;
		@include border-radius(5px);
		padding: 6px 20px;
		margin-bottom: 18px;
	}
	&.sc_promo_size_small .sc_promo_title {
		line-height: 1.35em;
		margin-top: -3px;
	}
	&:not(.sc_promo_no_paddings ){
		@include border-radius(5px);
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	&.sc_promo_no_paddings .sc_promo_image {
		@include border-radius(5px);
		overflow: hidden;
		z-index: 1;
	}
}
.sc_promo_default.sc_promo.sc_promo_size_small .sc_item_title + .sc_item_descr,
.sc_promo_default.sc_promo.sc_promo_size_small .sc_item_subtitle + .sc_item_descr,
.sc_promo_default.sc_promo.sc_promo_size_small .sc_item_title + .sc_item_content,
.sc_promo_default.sc_promo.sc_promo_size_small .sc_item_subtitle + .sc_item_content,
.sc_promo_default.sc_promo.sc_promo_size_small .sc_item_descr + .sc_item_content {
	margin-top: 0.6em;
	margin-bottom: -3px;
}

/* Team */
.team_member_page .team_member_socials .social_item .social_icon {
	display: block;
	width: 34px;
	height: 34px;
	line-height: 34px;
	@include border-radius(5px);
}
.team_member_page .team_member_featured .team_member_avatar {
	@include border-radius(5px);
	position: relative;
	z-index: 1;
	overflow: hidden;
}

/* Team Featured */
.sc_team.sc_team_featured {
	& .sc_team_item_subtitle {
		text-align: left;
		margin: 0;
	}
	& .post_featured {
		@include border-radius(5px);
		position: relative;
		z-index: 1;
	}
	& .post_featured + .sc_team_item_subtitle {
		margin-top: -15px;
		margin-bottom: 25px;
		height: 0;
		overflow: visible;
		text-align: left;
	}
	& .sc_team_item_subtitle a {
		display: inline-block;
		text-transform: none;
		font-size: 13px;
		line-height: 1.2em;
		font-weight: 600;
		letter-spacing: 0.4px;
		@include border-radius(5px);
		padding: 7px 20px 5px;
		margin: 0;
		font-style: normal;
		position: relative;
		z-index: 10;
		left: 0;
		@include transform(translateX(0));
		@include transition-all(0.4s);
	}
	& .sc_team_item .post_featured + .sc_team_item_subtitle:hover a,
	& .sc_team_item .post_featured:hover + .sc_team_item_subtitle a {
		left: 50%;
		@include transform(translateX(-50%));
	}
	& .sc_team_item_thumb .trx_addons_hover_content {
		top: auto;
		bottom: 20px;
		@include transform(none);
		padding: 10px;
	}
	& .sc_team_item_thumb .sc_team_item_socials .social_item .social_icon {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 41px;
		text-align: center;
		@include border-radius(5px);
	}
	& .sc_team_item_thumb .sc_team_item_socials {
		margin: 16px 0 0 0;
	}
	& .sc_team_item_thumb .sc_team_item_socials .social_item {
		margin: 0.2em 0.5em 0.2em 0;
	}
	& .trx_addons_hover_content .trx_addons_hover_title {
		font-size: 18px;
		line-height: 1.3em;
		font-weight: 700;
	}
	& .trx_addons_hover_style_info:hover .trx_addons_hover_mask {
		opacity: 0.7;
	}
}
/* About */
.widget_aboutme {
	text-align: center;
	& .aboutme_avatar {
		overflow: visible;
		position: relative;
		z-index: 1;
		@include border-radius(50%);
		display: block;
		margin: 0 auto 48px;
		max-width: 170px;
		top: 20px;
	}
	& .aboutme_avatar img {
		@include border-radius(50%);
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
	& .aboutme_avatar:after {
		content: "";
		border: 2px solid #ddd;
		position: absolute;
		z-index: 1;
		@include border-radius(50%);
		padding: 0;
		display: block;
		@include box-sizing(border-box);
		top: -6px;
		left: -6px;
		width: calc(100% + 12px);
		height: calc(100% + 12px);
	}
	& .aboutme_avatar:before {
		content: "";
		position: absolute;
		z-index: 1;
		left: -69px;
		top: -35px;
		display: block;
		height: 203px;
		width: 131px;
		background-image: url(images/bg-author.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	& .aboutme_description {
		margin-top: 1em;
		line-height: 1.6em;
		font-size: 16px;
		font-weight: 400;
		text-align: center;
	}
	& .aboutme_username {
		font-size: 42px;
		font-weight: 400;
		text-align: center;
		line-height: 1em;
		margin-top: 8px;
		margin-bottom: 15px;
	}
}
/* esg */
body .minimal-light .esg-navigationbutton {
	padding: 0.9em 3em;
	font-size: 15px;
	font-weight: 700;
	font-style: normal;
	line-height: 18px;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0.3px;
	border: none;
	@include border-radius(5px);
	@include transition-all(0.3s);
	@include box-shadow(none !important);
	&:after {
		content: '\e963';
		font-family: $theme_icons;
		font-style: normal;
		font-size: 10px;
		font-weight: 400;
		display: inline-block;
		vertical-align: middle;
		margin-left: 15px;
		margin-right: -5px;
	}
}
/* mc4wp */
form.mc4wp-form,
form.mc4wp-form .mc4wp-form-fields input[type="email"] {
	text-align: center;
}
.ua_ie form.mc4wp-form .mc4wp-form-fields input[type="email"] {
	line-height: 30px;
}
form.mc4wp-form .mc4wp-form-fields input[type="submit"] {
	border: none !important
}
form.mc4wp-form .mc4wp-form-fields input[type="submit"] {
	@include border-radius(5px);
	width: 100%;
	position: relative;
	margin-top: 8px;
}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before,
.wpcf7-list-item-label.wpcf7-list-item-right:before,
form.mc4wp-form input[type="checkbox"] + label:before {
	background-color: transparent !important;
}
/* Row Normal */
.sc_layouts_row_type_normal,
.sc_layouts_row_type_normal.sc_layouts_row_fixed_on {
	padding-top: 1.1em !important;
	padding-bottom: 1.1em !important;
}
.sc_layouts_row_type_normal .sc_layouts_column_align_right .sc_layouts_item,
.sc_layouts_row_type_normal .sc_layouts_column_align_right .sc_layouts_item + div:not(.sc_layouts_item):not(.vc_row):not(.vc_separator):not(.vc_empty_space):not(.vc_wp_text) {
	margin-left: 0.6em;
	margin-right: 0;
}
/* Normal Search */
.search_style_normal .search_submit:before {
	@include transition-all(0.3s);
}
.search_style_normal .search_submit {
	left: auto;
	right: 3px;
	font-size: 14px !important;
}
.search_style_normal .search_field {
	@include transition-all(0.3s);
	padding-left: 0 !important;
	padding-right: 1.75em !important;
	width: 14em;
	font-weight: 700 !important;
	letter-spacing: 0.4px;
	@include border-radius(0);
	line-height: 1.8em !important;
	font-size: 15px !important;
}
.sc_layouts_row_type_narrow .search_wrap .search_field,
.sc_layouts_row_type_compact .search_wrap .search_field {
	border-bottom-width: 1px !important;
	border-bottom-style: solid !important;
	@include border-radius(0);
}
.search_style_expand .search_field,
.search_style_expand.search_opened .search_field {
	line-height: 1.2em !important;
}
.sc_layouts_row_type_normal .search_style_normal .search_field {
	font-size: 15px;
	font-weight: 700;
	text-transform: none;
	padding: 0 3em 0 1.5em !important;
	width: 17em;
	height: 48px;
	line-height: 48px;
	@include border-radius(5px);
}
.sc_layouts_row_type_normal .search_style_normal .search_submit {
	display: block;
	text-align: center;
	width: 2.8em;
	height: 50px;
	line-height: inherit;
	position: absolute;
	top: 0;
	bottom: auto;
	left: auto;
	right: 3px;
	font-size: 14px !important;
}
.sc_layouts_row_type_normal .search_style_normal .search_submit:before {
	font-size: 17px;
}
.search_wrap .search_results {
	@include border-radius(5px);
}
.sc_layouts_row_type_normal .sc_layouts_column_align_right .search_wrap .search_results {
	left: auto;
	right: 0;
}

/* Gallery */
.wp-block-gallery .blocks-gallery-image figure,
.wp-block-gallery .blocks-gallery-item figure {
	@include border-radius(5px);
}
.trx_addons_scroll_to_top {
	@include border-radius(5px);
}

/* nav */
.nav-links-more a, .woocommerce-links-more a {
	display: inline-block;
	position: relative;
	border: none;
	padding: 1.5em 3em;
	vertical-align: middle;
	@include border-radius(5px);
	text-transform: capitalize !important;
	text-align: center;
}
.sc_item_pagination.nav-links-more a {
	width: 100%;
}
.nav-links-more a:after, .woocommerce-links-more a:after {
	font-size: 9px;
	margin-left: 10px;
	margin-right: 0;
	margin-top: -2px;
	height: 15px;
	line-height: 15px;
}
.nav-links-more.loading a:after, .woocommerce-links-more.loading a:after {
	margin-top: -3px;
}
.esg-filters div.esg-navigationbutton, .woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span.current, .page_links > span:not(.page_links_title), .page_links > a, .comments_pagination .page-numbers, .nav-links .page-numbers {
	@include border-radius(5px);
	width: 36px;
	height: 36px;
	line-height: 37px;
}

/* Blog Excerpt */
.post_layout_excerpt .post_featured,
.sticky.post_layout_excerpt {
	@include border-radius(5px);
	position: relative;
	z-index: 1;
	overflow: hidden;
}
.ua_ie .post_layout_excerpt {
	@include border-radius(5px);
	overflow: hidden;
}

/* Blog Classic */
.post_layout_classic .post_meta.cat_top + .post_header {
	margin-top: 1em;
}
.post_layout_classic .post_header + .post_content {
	padding-top: 1em;
	padding-bottom: 0.5em;
}

/* Instagram */
#sb_instagram #sbi_images {
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

/* 404 */
.post_item_none_search .search_wrap .search_field, .post_item_none_archive .search_wrap .search_field {
	@include border-radius(5px);
	padding: 0.8em 3.5em 0.8em 1.65em !important;
}

/* Tag */
.sc_edd_details .downloads_page_tags .downloads_page_data > a, .widget_product_tag_cloud a, .widget_tag_cloud a {
	font-size: 13px !important;
	line-height: 17px;
	font-weight: 700;
	letter-spacing: 0.4px;
	text-transform: none;
}


/* Woo */
.woocommerce div.product .woocommerce-tabs ul.tabs li a, .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
	@include border-radius(5px);
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: transparent;
}
.woocommerce .blabber_shop_mode_buttons a, .woocommerce-page .blabber_shop_mode_buttons a {
	@include border-radius(5px);
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.woocommerce ul.products li.product .star-rating {
	font-size: 0.8em;
	width: 5.7em;
	margin: 0.6em 0 0;
	letter-spacing: 0.1em;
}
body li.product .post_featured.hover_shop_buttons .icons a:not(.sc_button_hover_strike),
body .widget.woocommerce .button:not(.sc_button_hover_strike) {
	border: none !important;
}
#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img,
.woocommerce div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity, .woocommerce .shop_table.cart div.quantity, .woocommerce-page .shop_table.cart div.quantity,
.woocommerce ul.cart_list li img, .woocommerce-page ul.cart_list li img, .woocommerce ul.product_list_widget li img, .woocommerce-page ul.product_list_widget li img {
	@include border-radius(5px);
}
.woocommerce .shop_table a.remove,
.woocommerce .widget_shopping_cart .cart_list li a.remove,
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	font-size: 15px;
}
.post_featured.hover_shop_buttons .icons a {
	display: block;
	text-transform: none !important;
	text-align: center;
	padding: 0 2em !important;
	pointer-events: all;
	height: 50px !important;
	line-height: 50px !important;
}
aside.woocommerce .product-title, aside.woocommerce .mini_cart_item > a:not(.remove) {
	line-height: 1.3em;
	font-size: 16px;
}
.woocommerce ul.product_list_widget li + li, .woocommerce-page ul.product_list_widget li + li {
	margin-top: 20px;
}
.woocommerce.widget_shopping_cart ul.cart_list li {
	margin-bottom: 20px;
}
.woocommerce .widget_shopping_cart .buttons, .woocommerce.widget_shopping_cart .buttons {
	margin-top: 1.3em;
}
.woocommerce .widget_price_filter .price_slider_amount .button {
	font-size: 15px;
}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce-page form .form-row input.input-text, .woocommerce-page form .form-row textarea {
	font-weight: 700;
}
.select2-container.select2-container--default span.select2-choice, .select2-container.select2-container--default span.select2-selection {
	@include border-radius(5px);
}
.select2-container.select2-container--default span.select2-choice, .select2-container.select2-container--default span.select2-selection {
	padding: 0.18em 0 0.18em 1.6em;
}
.woocommerce div.product .woocommerce-product-rating, .woocommerce-page div.product .woocommerce-product-rating {
	margin-top: 0;
}
.woocommerce .woocommerce-product-rating .star-rating, .woocommerce-page .woocommerce-product-rating .star-rating {
	font-size: 1em;
}
.woocommerce .product_meta span, .woocommerce .product_meta span span, .woocommerce .product_meta a {
	font-weight: 600;
}
.woocommerce div.product form.cart div.quantity input[type="number"], .woocommerce-page div.product form.cart div.quantity input[type="number"], .woocommerce .shop_table.cart div.quantity input[type="number"], .woocommerce-page .shop_table.cart div.quantity input[type="number"] {
	font-size: 14px;
	font-weight: 600;
}
.woocommerce .product .compare, .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button, .woocommerce div.product form.cart .single_add_to_cart_button {
	padding: 0 2.8em !important;
	height: 50px;
	line-height: 50px !important;
	border: none !important;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta strong, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta strong,
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta, .woocommerce-page #reviews #comments ol.commentlist li .comment-text p.meta {
	font-weight: 600;
}
.woocommerce #review_form #respond p {
	margin: 0 0 1em;
}
.woocommerce #reviews #comments ol.commentlist li img.avatar, .woocommerce-page #reviews #comments ol.commentlist li img.avatar {
	@include border-radius(5px);
}
.woocommerce .comment-form .comment-form-comment label, .woocommerce .comment-form .comment-form-rating label, .woocommerce .comment-form .comment-form-author label, .woocommerce .comment-form .comment-form-email label {
	line-height: 1.5em;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple, .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.woocommerce table.cart td.actions, .woocommerce #content table.cart td.actions, .woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
	padding-top: 12px;
}
.woocommerce div.product p.price del,
.woocommerce ul.products li.product .price del {
	font-size: 1em;
}

.ua_safari a.remove {
	height: 17px !important;
	width: 17px !important;
	line-height: 15px !important;
	letter-spacing: 0 !important;
}

.ua_safari .mejs-controls .mejs-button > button {
	width: 36px;
	height: 36px;
	line-height: 36px;
}

/* Border Radius */
.sc_layouts_popup {
	@include border-radius(5px);
}
.sc_testimonials.sc_testimonials_simple .sc_testimonials_item,
.sc_action_item_default,
.sc_price_item,
.sc_price_item .sc_price_item_image,
.trx_addons_audio_player,
.sc_widget_slider .slider_engine_swiper,
.trx_addons_video_player {
	@include border-radius(5px);
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.elementor-section-full_width .elementor-column-gap-no .sc_widget_slider .slider_engine_swiper {
	@include border-radius(0);
}
.elementor-progress-wrapper, .elementor-progress-bar {
	@include border-radius(5px);
}
img[class*="wp-image-"], figure.wp-caption {
	@include border-radius(5px);
}

.sc_item_subtitle {
	font-size: 1rem;
	line-height: 1.3em;
}

.sc_googlemap {
	overflow: hidden;
	@include border-radius(5px);
}


.ua_safari input[type="radio"] + label:before,
.ua_safari input[type="checkbox"] + label:before,
.ua_safari input[type="radio"] + .wpcf7-list-item-label:before,
.ua_safari input[type="checkbox"] + .wpcf7-list-item-label:before,
.ua_safari .wpcf7-list-item-label.wpcf7-list-item-right::before,
.ua_safari .edd_price_options ul > li > label > input[type="radio"] + span:before,
.ua_safari .edd_price_options ul > li > label > input[type="checkbox"] + span:before {
	top: 4px;
}
.ua_safari .wpgdprc-checkbox label input[type="checkbox"]:before {
	top: 2px;
}


/* Demo */
.copyright-text {
	font-size: 15px;
}
.wp-block-columns.extra-row {
	margin-top: 34px;
	margin-bottom: 10px;
}
.extra-row .widget_area {
	margin-top: 7px;
}
.extra-row.has-2-columns .wp-block-column {
	margin-bottom: 0 !important;
}
.extra-row.has-2-columns .wp-block-column:last-child {
	padding-left: 20px;
}
.extra-row .widget {
	padding: 50px 35px;
	border: 1px solid #ddd;
	@include box-sizing(border-box);
}