/* Skin-specific responsive styles
---------------------------------- */
@media (min-width: 1280px) and (max-width: 1679px) {
  /* Body sizes */
  .content_wrap, .content_container {
    width: 1200px;
  }

  .body_style_boxed .page_wrap {
    width: 1200px;
  }

  .body_style_boxed .content_wrap,
  .body_style_boxed .content_container {
    width: 1120px;
  }

  .menu_style_side .menu_side_wrap {
    width: 70px;
  }

  body.menu_style_left {
    margin-left: 70px;
  }

  body.menu_style_right {
    margin-right: 70px;
  }

  .menu_style_left .sc_layouts_row_fixed_on {
    margin-left: 70px !important;
  }

  .menu_style_right .sc_layouts_row_fixed_on {
    margin-right: 70px !important;
  }

  /* Content and Sidebar */
  body.body_style_wide:not(.expand_content) [class*="content_wrap"] > .content {
    width: 799.2307692308px;
  }

  body.body_style_boxed:not(.expand_content) [class*="content_wrap"] > .content {
    width: 745.9487179487px;
  }

  [class*="content_wrap"] > .sidebar {
    width: 370px;
  }

  body.body_style_boxed [class*="content_wrap"] > .sidebar {
    width: 345.3333333333px;
  }

  /* Fullwide or Fullscreen with sidebar */
  .body_style_fullwide .content_wrap {
    padding-left: 90px;
    padding-right: 90px;
  }

  .body_style_fullwide.sidebar_right [class*="content_wrap"] > .content,
  .body_style_fullscreen.sidebar_right [class*="content_wrap"] > .content {
    padding-right: 400.7692307692px;
  }

  .body_style_fullwide.sidebar_right [class*="content_wrap"] > .sidebar,
  .body_style_fullscreen.sidebar_right [class*="content_wrap"] > .sidebar {
    margin-left: -370px;
  }

  .body_style_fullwide.sidebar_left [class*="content_wrap"] > .content,
  .body_style_fullscreen.sidebar_left [class*="content_wrap"] > .content {
    padding-left: 400.7692307692px;
  }

  .body_style_fullwide.sidebar_left [class*="content_wrap"] > .sidebar,
  .body_style_fullscreen.sidebar_left [class*="content_wrap"] > .sidebar {
    margin-right: -370px;
  }

  /* Elementor */
  .elementor-section.elementor-section-boxed > .elementor-container.elementor-column-gap-extended {
    max-width: 1230px;
  }

  .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1230px;
  }

  .body_style_boxed .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1150px;
  }

  .body_style_fullwide.sidebar_hide .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1020px;
  }

  /* Default Elementor's grid */
  .elementor-column-gap-narrow > .elementor-row > .elementor-column > .elementor-element-populated {
    padding-left: 5px;
    padding-right: 5px;
  }

  .elementor-column-gap-default > .elementor-row > .elementor-column > .elementor-element-populated {
    padding-left: 10px;
    padding-right: 10px;
  }

  .elementor-column-gap-extended > .elementor-row > .elementor-column > .elementor-element-populated {
    padding-left: 15px;
    padding-right: 15px;
  }

  .elementor-column-gap-wide > .elementor-row > .elementor-column > .elementor-element-populated {
    padding-left: 20px;
    padding-right: 20px;
  }

  .elementor-column-gap-wider > .elementor-row > .elementor-column > .elementor-element-populated {
    padding-left: 30px;
    padding-right: 30px;
  }

  /* Stretch rows (like VC) on pages without sidebar */
  .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow,
  .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow {
    width: 1210px;
  }

  .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default,
  .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default {
    width: 1220px;
  }

  .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended,
  .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended {
    width: 1230px;
  }

  .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide,
  .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide {
    width: 1240px;
  }

  .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider,
  .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider {
    width: 1260px;
  }

  /* Pages with sidebar */
  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow,
  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-narrow {
    width: 809.2307692308px;
  }

  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default,
  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-default {
    width: 819.2307692308px;
  }

  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended,
  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-extended {
    width: 829.2307692308px;
  }

  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide,
  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wide {
    width: 839.2307692308px;
  }

  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-boxed:not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider,
  .sidebar_show .content_wrap .elementor-section.elementor-section-justified.elementor-section-full_width:not(.elementor-section-stretched):not(.elementor-inner-section) > .elementor-container.elementor-column-gap-wider {
    width: 859.2307692308px;
  }

  /* Blogger */
  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_title {
    font-size: 36px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple .sc_blogger_item_title {
    font-size: 18px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_grid .sc_blogger_item_title {
    font-size: 34px;
  }

  .sc_blogger_list.sc_blogger_list_simple .sc_blogger_columns_wrap .sc_blogger_item {
    position: relative;
    padding-left: 50px;
    padding-right: 20px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_grid .sc_blogger_item_default.sc_blogger_item_image_position_left .sc_blogger_item_content, .sc_blogger_default.sc_blogger_default_classic_meta_grid .sc_blogger_item_default.sc_blogger_item_image_position_alter.sc_blogger_item_odd .sc_blogger_item_content {
    padding-left: 2.4em;
    padding-right: 0;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_grid .sc_blogger_item_default.sc_blogger_item_image_position_right .sc_blogger_item_content {
    padding-right: 2.4em;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_grid .sc_blogger_item_title + .sc_blogger_item_excerpt {
    margin-top: 1.2em;
  }

  .sc_blogger_chess .post_layout_chess_1 .post_title {
    font-size: 34px;
  }

  .sc_blogger_chess .post_layout_chess.post_layout_chess_1 .more-link {
    margin-top: 1rem;
  }

  .sc_blogger_chess .post_layout_chess_1 .post_header + .post_content {
    margin-top: 1.7rem;
  }

  /* Single */
  .section_title {
    font-size: 38px;
  }

  .sc_layouts_featured.with_image.without_content {
    min-height: 36rem;
  }

  .related_wrap.sc_team_posts .post_title, .related_wrap.related_style_classic .post_title {
    font-size: 22px;
  }

  .nav-links-single .nav-links .post-title {
    font-size: 22px;
  }

  /* Demo */
  .extra-row.has-2-columns .wp-block-column:last-child {
    padding-left: 10px;
  }
}
@media (max-width: 1280px) and (min-width: 1024px) {
  .categories_list_style_1 .trx_addons_column-1_8 {
    width: 25%;
  }

  .categories_list_columns.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"],
  .categories_list_columns.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"]:last-child {
    padding-bottom: 14px;
  }
}
@media (max-width: 1679px) {
  body.single-post.sidebar_hide.body_style_wide:not(.expand_content) [class*="content_wrap"] > .content {
    padding: 0%;
  }

  /* Theme Common styles */
  .slider_container.slider_titles_center .slide_info_large {
    width: 60%;
  }

  .content_wrap, .content_container {
    width: 1200px;
  }

  .related_wrap.sc_team_posts .post_title,
  .related_wrap.related_style_classic .post_title {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 0px;
    letter-spacing: 0;
  }

  .sc_blogger.sc_blogger_default .sc_blogger_item_default_classic_meta_simple .sc_blogger_item_title {
    font-size: 24px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_title,
  .sc_blogger_item_wide.sc_blogger_item_with_image.sc_blogger_item_image_position_left .sc_blogger_item_content .sc_blogger_item_title,
  .sc_blogger_item_wide.sc_blogger_item_with_image.sc_blogger_item_image_position_alter.sc_blogger_item_odd .sc_blogger_item_content .sc_blogger_item_title {
    font-size: 30px;
  }

  .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_prev,
  .slider_outer_controls_outside .slider_controls_wrap > .slider_prev {
    left: -4.5em;
  }

  .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_next,
  .slider_outer_controls_outside .slider_controls_wrap > .slider_next {
    right: -4.5em;
  }

  .sc_blogger_item_wide.sc_blogger_item_with_image.sc_blogger_item_image_position_left .sc_blogger_item_content,
  .sc_blogger_item_wide.sc_blogger_item_with_image.sc_blogger_item_image_position_alter.sc_blogger_item_odd .sc_blogger_item_content {
    padding-left: 2em;
    padding-right: 2em;
  }

  .sc_button_hover_strike .strike-text:after, .sc_button_hover_strike:after {
    margin-right: 0px;
  }

  body .wprm-recipe-times-container + .wprm-spacer {
    display: block !important;
    width: 100%;
  }

  .wprm-recipe-cost-container, .wprm-recipe-author-container {
    margin-top: 50px;
  }

  /*Recipe*/
  .wprm-recipe-template-classic {
    max-width: 100% !important;
  }

  .post_layout_chess_2 .more-link {
    display: none;
  }

  .sidebar_hide.body_style_wide:not(.expand_content) [class*="content_wrap"] > .content {
    padding: 0 4.5%;
  }

  .widget_categories_list .categories_list_style_1 .categories_list_item {
    padding: 40px 15px 20px;
  }
}
@media (max-width: 1439px) {
  .slider_container .slide_info.slide_info_large .slide_title {
    font-size: 50px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_title {
    font-size: 34px;
  }

  /*Related*/
  .related_wrap.sc_team_posts .post_title,
  .related_wrap.related_style_classic .post_title {
    font-size: 1.2em;
  }

  .related_style_classic.related_wrap.sc_team_posts .width_cat_top + .post_meta.cat_top,
  .related_style_classic.related_wrap.related_style_classic .width_cat_top + .post_meta.cat_top {
    margin-left: 1.2em;
  }

  .sc_blogger_default.sc_blogger_default_over_centered_middle .sc_blogger_item_title,
  .slider_titles_outside_wrap .slide_title {
    font-size: 2em;
  }

  .sc_layouts_menu_nav > li > a,
  .sc_layouts_menu_nav > li.menu-item-has-children > a {
    padding: 10px 15px;
  }

  .blog_style_classic_2 .post_content,
  .blog_style_classic_3 .post_content {
    font-size: 16px;
  }

  .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_next,
  .slider_outer_controls_outside .slider_controls_wrap > .slider_next {
    right: 1.5em;
  }

  .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_prev,
  .slider_outer_controls_outside .slider_controls_wrap > .slider_prev {
    left: 1.5em;
  }

  .search_style_expand.search_opened .search_field {
    width: 100%;
    max-width: 20em;
  }

  .wpcf7 textarea {
    height: 17.3em;
  }

  .sc_button.sc_button_size_large {
    padding: 1.4em 4em 1.4em !important;
  }

  .post_item_none_search .page_title, .post_item_none_archive .page_title {
    font-size: 7em;
  }

  .post_layout_chess_3 .post_title {
    font-size: 1.1rem;
  }

  .single_style_out-below-fullwidth .post_header_wrap .post_featured.post_featured_bg {
    height: 30rem;
  }
}
@media (max-width: 1279px) {
  html {
    font-size: 16px;
  }

  .post_item_none_search .page_title, .post_item_none_archive .page_title {
    font-size: 6em !important;
    line-height: 1.1em;
  }

  .custom-logo-link img, .sc_layouts_logo img {
    max-height: 5em;
  }

  .sc_layouts_menu_nav > li > ul {
    top: 2.2em;
  }

  .sc_layouts_menu_popup .sc_layouts_menu_nav, .sc_layouts_menu_nav > li ul {
    padding: 1em 0;
  }

  .sc_layouts_menu_mobile_button .sc_layouts_item_icon, .sc_layouts_menu_mobile_button_burger .sc_layouts_item_icon {
    vertical-align: middle;
  }

  .sc_team.sc_team_featured .sc_team_item_thumb .sc_team_item_socials .social_item .social_icon {
    width: 35px;
    height: 35px;
    line-height: 36px;
  }

  .sc_team.sc_team_featured .sc_team_item_thumb .sc_team_item_socials {
    margin: 10px 0 0 0;
  }

  .elementor-section-stretched .slider_titles_center.slider_container.slider_controls_side .slider_controls_wrap > .slider_prev {
    margin-left: 30px;
  }

  .elementor-section-stretched .slider_titles_center.slider_container.slider_controls_side .slider_controls_wrap > .slider_next {
    margin-right: 30px;
  }

  .slider_container .slide_info.slide_info_large .slide_title {
    font-size: 42px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_default,
  .sc_blogger_default.sc_blogger_default_classic_meta_simple .sc_blogger_item_default {
    padding-bottom: 15px;
  }

  .sc_blogger.sc_blogger_default .sc_blogger_item_title {
    font-size: 20px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_title {
    font-size: 28px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .post_meta, .sc_blogger_default.sc_blogger_default_classic_meta_simple .post_meta {
    margin-top: 1em;
  }

  .sc_blogger .sc_blogger_item_title + .sc_blogger_item_excerpt,
  .sc_blogger .sc_blogger_item_meta + .sc_blogger_item_excerpt {
    margin-top: 1em;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .post_meta_categories, .sc_blogger_default.sc_blogger_default_classic_meta_simple .post_meta_categories {
    margin: 0 0 1em;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .post_meta {
    margin-top: 1em;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_excerpt, .sc_blogger_default.sc_blogger_default_classic_meta_simple .sc_blogger_item_excerpt {
    padding-right: 10%;
  }

  .sc_blogger .post_layout_chess_1 .post_inner_content {
    padding: 55px 70px;
  }

  .sc_blogger .post_layout_chess_1 .post_title {
    font-size: 40px;
  }

  .sc_blogger .post_layout_chess_1 .post_content {
    display: none;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .entry-title + .post_meta {
    margin-top: 15px;
  }

  .comments_list_wrap .comment_author:after, .post_meta .post_meta_item:after, .post_meta .post_meta_item.post_edit:after, .post_meta .vc_inline-link:after {
    margin: 0 0.8em 0 1.1em;
  }

  /* Spacer */
  .elementor-widget-spacer.sc_height_tiny .elementor-spacer-inner {
    height: 0.9rem !important;
  }

  .elementor-widget-spacer.sc_height_small .elementor-spacer-inner {
    height: 20px !important;
  }

  .elementor-widget-spacer.sc_height_medium .elementor-spacer-inner {
    height: 35px !important;
  }

  .elementor-widget-spacer.sc_height_large .elementor-spacer-inner, .elementor-widget-spacer.sc_height_big .elementor-spacer-inner {
    height: 60px !important;
  }

  /*Related*/
  .post_item_single .post_content .post_tags a {
    padding: 13px 19px;
  }

  .post_item_single .post_content .post_tags .post_meta_label {
    padding: 8px 0;
    margin: 0 10px 8px 0;
  }

  .comments_list_wrap {
    margin-top: 1em;
    padding-top: 1em;
  }

  .show_comments_wrap {
    margin-top: 0.2em;
  }

  .comments_list_wrap .comment_info {
    margin: -0.1em 0 0.25em;
  }

  .comments_wrap .comments_field textarea {
    min-height: 10em;
  }

  /*Woo*/
  .woocommerce .shop_mode_thumbs ul.products li.product .price,
  .woocommerce-page .shop_mode_thumbs ul.products li.product .price,
  .woocommerce ul.products li.product .price,
  .woocommerce-page ul.products li.product .price {
    margin: 0.8em 0 0;
  }

  /*video btn*/
  .trx_addons_video_player.with_cover .video_hover,
  .body_style_fullwide .format-video .post_featured.with_thumb .post_video_hover,
  .post_layout_excerpt.format-video .post_featured.with_thumb .post_video_hover,
  .post_layout_chess_1.format-video .post_featured.with_thumb .post_video_hover {
    line-height: 64px;
  }

  .sc_promo.sc_promo_default .sc_item_subtitle {
    padding: 7px 20px 7px;
  }

  .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_prev,
  .slider_outer_controls_outside .slider_controls_wrap > .slider_prev {
    left: 1.5em;
  }

  .slider_container.slider_controls_outside + .slider_controls_wrap > .slider_next,
  .slider_outer_controls_outside .slider_controls_wrap > .slider_next {
    right: 1.5em;
  }

  .sc_layouts_menu_mobile_button_burger:not(.without_menu) .burger-text {
    vertical-align: middle;
  }

  .search_wrap.search_style_expand input[placeholder],
  .search_wrap.search_style_expand .search_submit,
  .sc_layouts_menu_mobile_button_burger:not(.without_menu) .burger-text {
    line-height: 1.6em !important;
  }

  .woocommerce ul.products li.product .post_featured {
    margin-bottom: 0;
  }

  .woocommerce div.product .woocommerce-tabs ul.tabs li a,
  .woocommerce #content div.product .woocommerce-tabs ul.tabs li a,
  .woocommerce-page div.product .woocommerce-tabs ul.tabs li a,
  .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
    padding: 0.88em 1em;
  }

  .widget_categories_list .categories_list_style_1 .categories_list_image img {
    max-height: 4em;
  }

  .sc_blogger.sc_blogger_default .sc_blogger_item_default_classic_meta_simple .sc_blogger_item_title {
    font-size: 20px;
  }

  .post_item_404 .page_title {
    font-size: 13em;
  }

  .post_item_single .post_content > .post_meta_single .post_share .social_item .social_icon {
    width: 2.55rem;
    height: 2.55rem;
    line-height: 2.55rem;
    text-align: center;
  }

  .sc_blogger.sc_blogger_default .post_meta_categories {
    margin: 0 0 0.8em;
  }

  /*lists*/
  .widget li > a::after {
    left: -1.55em;
  }

  .sc_layouts_title.fixed_height {
    min-height: 23.2rem;
  }

  .sc_testimonials_item_author_data {
    max-width: 90%;
  }

  .sc_layouts_menu_nav .menu-collapse > a:before {
    top: 0px;
  }

  body .wprm-spacer {
    height: 42px;
  }

  .wprm-recipe-tag-container {
    margin-right: 12px;
  }

  .wprm-container-float-right .wprm-recipe-print {
    right: -20px;
  }

  .wpcf7 textarea {
    height: 10.9em;
  }

  .widget ul > li::before {
    top: 0.68em;
  }

  h1, .sc_layouts_title_caption {
    font-size: 2.5rem;
    line-height: 1.27em;
    margin-top: 1.4em;
  }

  .sc_blogger.sc_blogger_default_over_bottom .trx_addons_column-1_3 .sc_blogger_item .sc_blogger_item_body .post_info_bl,
  .sc_blogger.sc_blogger_default_over_bottom .trx_addons_column-1_2 .sc_blogger_item .sc_blogger_item_body .post_info_bl {
    padding: 0 1.5em 1.5em;
  }

  .sc_blogger.sc_blogger_default_over_bottom .sc_blogger_item .sc_blogger_item_body:hover .post_info_bl .sc_blogger_item_excerpt {
    margin: 0.6em 0 0.6em;
  }

  .sc_blogger_item_default {
    padding-bottom: 0;
  }

  .page_content_wrap {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  blockquote, blockquote[class*="wp-block-quote"][class*="is-style-"], blockquote[class*="wp-block-quote"][class*="is-"],
  .wp-block-quote:not(.is-large):not(.is-style-large), .wp-block-freeform.block-library-rich-text__tinymce blockquote {
    padding: 2em 2em 2.5em;
  }

  .search_wrap.search_style_normal:not(.page_search) .search_form_wrap .search_field {
    width: 12rem;
    padding: 0.6em 2.5em 0.6em 1.3em !important;
  }

  .sc_layouts_menu_nav > li > a, .sc_layouts_menu_nav > li.menu-item-has-children > a {
    padding: 10px 10px;
  }

  .sc_button.sc_button_bordered, .wp-block-button.is-style-outline .wp-block-button__link {
    padding: 14px 43px;
  }

  .author_title {
    font-size: 18px;
  }

  .comments_form_wrap {
    margin-top: 1.8em;
  }

  .sc_button.sc_button_size_large {
    padding: 1.4em 3em 1.4em !important;
  }

  .sc_blogger.sc_blogger_chess_default .post_layout_chess_1 .post_featured_bg:before {
    padding-top: 100%;
  }

  .sc_blogger_chess .post_layout_chess_1 .post_inner {
    transform: none;
    top: 0;
  }

  .sc_blogger.sc_blogger_chess_default .post_layout_chess_1 .post_inner_content {
    padding: 62px 60px;
  }

  .sc_blogger_list.sc_blogger_list_bid .sc_blogger_item_body .sc_blogger_item_title {
    font-size: 20px;
    line-height: 27px;
  }

  .sc_blogger.sc_blogger_default_classic_meta_simple .sc_blogger_item .sc_blogger_item_body .sc_blogger_item_content .sc_blogger_item_title {
    font-size: 20px;
  }

  .trx_addons_reviews_bubble {
    height: 20px;
    line-height: 20px;
    top: -30px;
  }
}
@media (max-width: 1023px) {
  blockquote, blockquote[class*="wp-block-quote"][class*="is-style-"],
  blockquote[class*="wp-block-quote"][class*="is-"],
  .wp-block-quote:not(.is-large):not(.is-style-large),
  .wp-block-freeform.block-library-rich-text__tinymce blockquote {
    padding: 2em 2em;
  }

  aside .post_item + .post_item {
    margin-top: 1.2em;
  }

  .sc_title_accent h5.sc_item_title_tag + .sc_item_descr, .sc_title_accent h5.sc_item_title_tag + .sc_item_slider, .sc_title_accent h5.sc_item_title_tag + .sc_item_columns, .sc_title_accent h5.sc_item_title_tag + .sc_item_content {
    margin-top: 1.4em;
  }

  .sc_title_accent .sc_item_descr {
    font-size: 1.1em;
  }

  .footer_wrap .sc_socials_icons_names .social_item {
    margin: 4px 0;
  }

  .footer_wrap .sc_socials_icons_names .social_item + .social_item {
    border: none;
  }

  .footer_wrap .sc_socials_icons_names .social_item .social_name {
    font-size: 12px;
  }

  .sc_skills_pie.sc_skills_compact_off .sc_skills_total {
    font-size: 2rem;
  }

  .slider_container .slide_info.slide_info_large .slide_title {
    font-size: 32px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_title {
    font-size: 22px;
  }

  .sc_blogger_list .sc_blogger_item_title + .post_meta {
    margin-top: 0.2em;
  }

  .sc_blogger_list .sc_blogger_item_title {
    font-size: 30px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .post_meta_categories, .sc_blogger_default.sc_blogger_default_classic_meta_simple .post_meta_categories {
    margin: 0 0 0.6em;
  }

  .sc_blogger .sc_blogger_item_title + .sc_blogger_item_excerpt, .sc_blogger .sc_blogger_item_meta + .sc_blogger_item_excerpt {
    margin-top: 0.7em;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .post_meta {
    margin-top: 0.7em;
  }

  .sc_blogger.sc_blogger_default .sc_blogger_item_title {
    font-size: 18px;
  }

  .sc_blogger .post_layout_chess_1 .post_inner_content {
    padding: 40px;
  }

  .sc_blogger .post_layout_chess_1 .post_title {
    font-size: 30px;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .entry-title + .post_meta {
    margin-top: 10px;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] {
    padding: 2em;
    max-width: 95%;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured .post_info_tr {
    padding: 10px;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .sc_blogger_item_title {
    font-size: 26px;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .post_meta + .entry-title {
    margin-top: 10px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_default,
  .sc_blogger_default.sc_blogger_default_classic_meta_simple .sc_blogger_item_default {
    padding-bottom: 15px;
  }

  .sc_blogger_list .sc_blogger_item_title + .post_meta {
    margin-top: 0.7em !important;
  }

  .sc_blogger_content .sc_blogger_item_list {
    margin-bottom: 0.7em;
    padding-bottom: 0.7em;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured[data-ratio="2:1"]:before {
    padding-top: 70%;
  }

  .sc_button.sc_button_size_large {
    padding: 1em 2.3em 1em !important;
  }

  .sc_blogger.sc_blogger_chess_default .post_layout_chess_1 .post_inner_content {
    padding: 40px 40px;
  }

  .sc_team.sc_team_featured .sc_team_item_thumb .sc_team_item_socials .social_item .social_icon {
    width: 30px;
    height: 30px;
    line-height: 31px;
  }

  .sc_team.sc_team_featured .sc_team_item_thumb .sc_team_item_socials .social_item {
    margin: 0.25em 0.25em 0.25em 0;
  }

  .sc_team.sc_team_featured .sc_team_item_thumb .sc_team_item_socials {
    margin: 5px 0 0 0;
  }

  .sc_twitter_default .sc_twitter_item_content {
    font-size: 17px;
    line-height: 1.7em;
  }

  .post_item_single .post_content > .post_meta_single {
    margin-top: 3.2em;
    padding-top: 3.4em;
  }

  .related_wrap,
  .nav-links-single .nav-links {
    margin-top: 1.8em;
  }

  .post_item_single + .nav-links-single .nav-links {
    padding-top: 3.6em;
  }

  /* Spacer */
  .elementor-widget-spacer.sc_height_tiny .elementor-spacer-inner {
    height: 0.7rem !important;
  }

  .elementor-widget-spacer.sc_height_small .elementor-spacer-inner {
    height: 18px !important;
  }

  .elementor-widget-spacer.sc_height_medium .elementor-spacer-inner {
    height: 25px !important;
  }

  .elementor-widget-spacer.sc_height_large .elementor-spacer-inner, .elementor-widget-spacer.sc_height_big .elementor-spacer-inner {
    height: 60px !important;
  }

  .slider_container .slide_info .slide_title a, .sc_blogger.sc_blogger_list .sc_blogger_item_title a, .sc_blogger.sc_blogger_default .sc_blogger_item_title a, .related_wrap.sc_team_posts .post_title a, .related_wrap.related_style_classic .post_title a, .nav-links-single .nav-links .post-title, .post_layout_chess .post_title a, .copyright-text a, .sc_title_accent .sc_button_simple, .post_layout_classic .post_title a, .post_layout_style .post_title a, .post_layout_info .post_title a, .post_layout_extra .post_title a, .post_layout_plain .post_title a, .post_layout_excerpt .post_title a, .sc_recent_news_style_news-extra .post_item.post_size_small .post_title a, .widget_area .entry-title a, .widget_area .post_item .post_title a, aside .post_item .post_title a {
    background-position: 0 calc(100% - 0.05em);
  }

  /*Blogger*/
  .sc_blogger.sc_blogger_default .sc_blogger_item_default_classic_meta_simple .sc_blogger_item_title {
    font-size: 20px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_title,
  .sc_blogger_item_wide.sc_blogger_item_with_image.sc_blogger_item_image_position_left .sc_blogger_item_content .sc_blogger_item_title,
  .sc_blogger_item_wide.sc_blogger_item_with_image.sc_blogger_item_image_position_alter.sc_blogger_item_odd .sc_blogger_item_content .sc_blogger_item_title {
    font-size: 24px;
  }

  .sc_blogger:not(.sc_blogger_default_over_bottom) .sc_blogger_item_title + .sc_blogger_item_excerpt,
  .sc_blogger:not(.sc_blogger_default_over_bottom) .sc_blogger_item_meta + .sc_blogger_item_excerpt {
    display: none;
  }

  .woocommerce ul.products li.product > .post_item.post_layout_thumbs .sc_blogger_item_content,
  .sc_blogger_item_default.sc_blogger_item_on_plate .sc_blogger_item_body .sc_blogger_item_content,
  .sc_blogger_item_list.sc_blogger_item_on_plate .sc_blogger_item_body .sc_blogger_item_content,
  .sc_blogger_item_wide.sc_blogger_item_on_plate .sc_blogger_item_body .sc_blogger_item_content {
    padding-bottom: 15px;
  }

  .sc_blogger_item_default.sc_blogger_item_on_plate .sc_blogger_item_content {
    padding: 0 1.25em 0 1.25em;
  }

  /*Woo*/
  .woocommerce ul.products li.product .woocommerce-loop-category__title,
  .woocommerce ul.products li.product .woocommerce-loop-product__title,
  .woocommerce ul.products li.product h3 {
    font-size: 18px;
  }

  /*Woo*/
  .woocommerce .shop_mode_thumbs ul.products li.product .price,
  .woocommerce-page .shop_mode_thumbs ul.products li.product .price {
    margin: 0.8em 0 0;
  }

  .sc_layouts_menu_mobile_button .sc_layouts_item_icon,
  .sc_layouts_menu_mobile_button_burger .sc_layouts_item_icon {
    vertical-align: middle;
  }

  .categories_list_columns.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"],
  .categories_list_columns.trx_addons_columns_wrap.columns_padding_bottom.columns_in_single_row > [class*="trx_addons_column-"]:last-child {
    padding-bottom: 17px;
  }

  .sc_blogger_masonry .masonry_wrap .masonry_item {
    padding: 0 30px 30px 0;
  }

  .sc_blogger_masonry .masonry_wrap {
    margin-right: -30px;
  }

  .sc_blogger_masonry .masonry_wrap .masonry_item-1_4 {
    width: 50%;
  }

  /*Recipe*/
  .wprm-recipe-template-classic {
    padding: 34px 20px !important;
  }

  .wprm-container-float-right .wprm-recipe-print {
    right: 2px;
  }

  .sc_blogger .post_meta_categories {
    margin: 0 0 1em;
  }

  .sc_promo_default.sc_promo_size_small .sc_promo_content {
    font-size: 16px;
  }

  .footer_wrap .sc_socials_icons_names .social_item {
    min-width: 90px;
    padding: 20px 5px;
  }

  .footer_wrap .sc_socials_icons_names .social_item .social_name {
    margin: 2px 0 0 0;
  }

  h1, .sc_layouts_title_caption {
    font-size: 2.4rem;
    line-height: 1.27em;
    margin-top: 1.4em;
  }

  figure figcaption, .wp-block-image figcaption, .wp-caption .wp-caption-text, .wp-caption .wp-caption-dd, .wp-caption-overlay .wp-caption .wp-caption-text, .wp-caption-overlay .wp-caption .wp-caption-dd {
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    font-size: 16px;
    line-height: 20px;
  }

  .sc_blogger.sc_blogger_default_over_bottom .trx_addons_column-1_3 .sc_blogger_item .sc_blogger_item_body .post_info_bl,
  .sc_blogger.sc_blogger_default_over_bottom .trx_addons_column-1_2 .sc_blogger_item .sc_blogger_item_body .post_info_bl {
    padding: 0 15px 15px;
  }

  .mejs-controls .mejs-button.mejs-volume-button,
  .mejs-controls a.mejs-horizontal-volume-slider {
    display: none;
  }

  .post_item_404 .page_title {
    font-size: 10em;
  }

  .sc_layouts_title.fixed_height .sc_layouts_title_content {
    min-width: 80%;
  }

  .page_content_wrap {
    padding-top: 60px;
    padding-bottom: 70px;
  }

  .search_wrap.search_style_normal:not(.page_search) .search_form_wrap .search_field {
    width: 7rem;
  }

  .post_featured .post_meta_rating {
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .post_featured .post_meta_rating .post_meta_number, .post_featured .post_meta_rating a {
    font-size: 12px;
  }

  #trx_addons_login_popup {
    width: 100%;
  }
}
@media (max-width: 767px) {
  h1,
  .sc_layouts_title_caption,
  .single-post .sc_layouts_title_caption {
    font-size: 32px;
    line-height: 35px;
  }

  .sc_layouts_title.fixed_height .sc_layouts_title_caption {
    max-height: 6.2em;
    overflow: hidden;
  }

  .sc_layouts_title.fixed_height {
    min-height: 18rem;
  }

  .sc_title_accent h5.sc_item_title_tag + .sc_item_descr, .sc_title_accent h5.sc_item_title_tag + .sc_item_slider, .sc_title_accent h5.sc_item_title_tag + .sc_item_columns, .sc_title_accent h5.sc_item_title_tag + .sc_item_content {
    margin-top: 1em;
  }

  .footer_wrap .sc_socials_icons_names .social_item {
    margin: 2px 0;
  }

  .slider_container .slide_info.slide_info_large .slide_title {
    font-size: 20px;
  }

  .slider_container .slide_info.slide_info_large .slide_title + .post_meta {
    font-size: 14px;
  }

  .slider_container .slide_info.slide_info_large .slide_cats {
    margin: 0 0 8px;
  }

  .elementor-section-stretched .slider_titles_center.slider_container.slider_controls_side .slider_controls_wrap > .slider_prev {
    margin-left: 20px;
  }

  .elementor-section-stretched .slider_titles_center.slider_container.slider_controls_side .slider_controls_wrap > .slider_next {
    margin-right: 20px;
  }

  .sc_blogger .post_layout_chess_1 .post_title {
    font-size: 22px;
    line-height: 1.4em;
  }

  .sc_blogger .post_layout_chess_1 .post_inner_content {
    padding: 25px;
  }

  .sc_blogger_default.sc_blogger_default_classic_meta_simple_big .sc_blogger_item_excerpt, .sc_blogger_default.sc_blogger_default_classic_meta_simple .sc_blogger_item_excerpt {
    padding-right: 0;
  }

  .sc_promo_default.sc_promo_size_small.sc_promo_no_paddings .sc_promo_image {
    min-height: 24em;
    background-position: top;
  }

  .single-product .related > h2, .page_contact_form .page_contact_form_title, .related_wrap .section_title.related_wrap_title {
    font-size: 17px;
  }

  .comments_list_wrap .comment_author:after, .post_meta .post_meta_item:after, .post_meta .post_meta_item.post_edit:after, .post_meta .vc_inline-link:after {
    margin: 0 0.8em 0 1.1em;
  }

  .wp-block-columns.extra-row {
    margin-top: 25px;
  }

  .wp-block-columns.extra-row .wp-block-column:not(:last-child) {
    margin-left: 0;
  }

  .extra-row.has-2-columns .wp-block-column:last-child {
    padding-left: 0;
  }

  .extra-row .widget {
    padding: 30px;
  }

  .sc_twitter_default .sc_twitter_item {
    padding: 0 20px 35px;
  }

  .sc_twitter_default .sc_twitter_item_content {
    font-size: 16px;
    line-height: 1.5em;
  }

  .sc_widget_twitter .sc_twitter_default .sc_twitter_item .sc_twitter_item_icon {
    margin-bottom: 0.2em;
  }

  .sc_team.sc_team_featured .sc_team_item .post_featured + .sc_team_item_subtitle a,
  .sc_team.sc_team_featured .sc_team_item .post_featured + .sc_team_item_subtitle:hover a,
  .sc_team.sc_team_featured .sc_team_item .post_featured:hover + .sc_team_item_subtitle a {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  /* Spacer */
  .elementor-widget-spacer.sc_height_tiny .elementor-spacer-inner {
    height: 0.7rem !important;
  }

  .elementor-widget-spacer.sc_height_small .elementor-spacer-inner {
    height: 15px !important;
  }

  .elementor-widget-spacer.sc_height_medium .elementor-spacer-inner {
    height: 20px !important;
  }

  .elementor-widget-spacer.sc_height_large .elementor-spacer-inner, .elementor-widget-spacer.sc_height_big .elementor-spacer-inner {
    height: 45px !important;
  }

  /*Search & Menu names*/
  .search_wrap.search_style_expand .search_submit span,
  .sc_layouts_menu_mobile_button_burger:not(.without_menu) .burger-text {
    display: none;
  }

  .sc_layouts_title.fixed_height .sc_layouts_title_content {
    min-width: 87%;
  }

  .woocommerce ul.products li.product .post_header > a,
  .post_meta .post_meta_item.post_categories a {
    font-size: 13px;
    padding: 6px 14px 6px;
  }

  .slider_titles_outside_wrap .slide_info {
    max-width: 85%;
  }

  .slide_info.slide_info_large {
    padding: 0.8em 1em 1.4em;
  }

  .slider_style_default.slider_outer_titles_outside .slider_height_fixed.slider_type_bg.slider_container:not(.slider_multi):not(.slider_type_images),
  .slider_style_default.slider_outer_titles_outside .slider_height_fixed.slider_type_bg.slider_container:not(.slider_multi):not(.slider_type_images) .slider-slide {
    height: 370px !important;
  }

  .sc_item_featured.post_featured_bg[data-ratio="4:12"]:before {
    padding-top: 63.25%;
  }

  .sc_blogger_default.sc_blogger_default_over_centered_middle [class*="post_info_"] {
    max-width: 85%;
    padding: 0.8em 1em 1.6em;
  }

  body.single-post.sidebar_hide.body_style_wide:not(.expand_content) [class*="content_wrap"] > .content {
    padding-top: 0;
  }

  .single_style_out-below-fullwidth .page_content_wrap > .content_wrap {
    padding-top: 0;
  }

  .woocommerce ul.products li.product > .post_item.post_layout_thumbs:after,
  .woocommerce ul.products li.product > .post_item.post_layout_thumbs:before,
  .sc_blogger_item_default.sc_blogger_item_on_plate .sc_blogger_item_body:after,
  .sc_blogger_item_default.sc_blogger_item_on_plate .sc_blogger_item_body:before,
  .sc_blogger_item_list.sc_blogger_item_on_plate .sc_blogger_item_body:after,
  .sc_blogger_item_list.sc_blogger_item_on_plate .sc_blogger_item_body:before,
  .sc_blogger_item_wide.sc_blogger_item_on_plate .sc_blogger_item_body:after,
  .sc_blogger_item_wide.sc_blogger_item_on_plate .sc_blogger_item_body:before {
    display: none;
  }

  .sc_blogger_item_wide.sc_blogger_item_on_plate .sc_blogger_item_content .post_meta {
    margin-top: 0;
  }

  /*Woo*/
  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product,
  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product,
  .woocommerce[class*="columns-"] ul.products li.product,
  .woocommerce-page[class*="columns-"] ul.products li.product {
    padding: 0 20px 20px 0;
  }

  .woocommerce .shop_mode_list ul.products li.product .post_featured,
  .woocommerce-page .shop_mode_list ul.products li.product .post_featured {
    float: none;
    margin: 0 0 1.5em 0;
    max-width: none;
    width: 100%;
  }

  .woocommerce.columns-3 ul.products li.product,
  .woocommerce-page.columns-3 ul.products li.product,
  .woocommerce ul.products.columns-3 li.product,
  .woocommerce-page ul.products.columns-3 li.product,
  .woocommerce ul.products li.product.column-1_3,
  .woocommerce-page ul.products li.product.column-1_3,
  .woocommerce .related.products ul.products.columns-3 li.product,
  .woocommerce-page .related.products ul.products.columns-3 li.product,
  .woocommerce .related.products ul.products li.product.column-1_3,
  .woocommerce-page .related.products ul.products li.product.column-1_3,
  .woocommerce .upcells.products ul.products.columns-3 li.product,
  .woocommerce-page .upcells.products ul.products.columns-3 li.product,
  .woocommerce .upcells.products ul.products li.product.column-1_3,
  .woocommerce-page .upcells.products ul.products li.product.column-1_3 {
    width: 100%;
  }

  /*Recipe*/
  .wprm-recipe-icon svg {
    font-size: 17px;
    margin-bottom: 17px;
  }

  .wprm-recipe-servings-container,
  .wprm-recipe-nutrition-container,
  .wprm-recipe-times-container div.wprm-block-text-normal {
    padding-left: 0;
    margin-right: 12px;
  }

  .slide_info.slide_info_large {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  /*Post meta*/
  .post_item_single .post_content .post_tags a {
    font-size: 12px !important;
    line-height: 15px;
  }

  .socials_wrap .social_item .social_icon {
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
    text-align: center;
    line-height: 2.5em;
  }
  .author_bio .socials_wrap .social_item .social_icon {
    line-height: 2.3em;
  }

  .post_item_single .post_content .post_tags a {
    padding: 13px 19px;
  }

  .woocommerce ul.products li.product .star-rating {
    font-size: 0.8rem;
  }

  .trx_addons_scroll_to_top.show,
  .trx_addons_scroll_to_top {
    right: 10px;
    bottom: 10px;
    width: 2em;
    height: 2em;
    line-height: 2em;
  }

  .post_item_single + .nav-links-single .nav-links {
    margin-top: 0;
  }

  .author_avatar {
    top: 1.8em;
  }

  .footer_wrap .sc_socials_icons_names .social_item {
    min-width: 50px;
    min-height: 50px;
    padding: 7px 5px;
  }

  .footer_wrap .sc_socials_icons_names .social_item + .social_item {
    margin-left: 5px;
  }

  .footer_wrap .sc_socials_icons_names .social_item .social_name {
    display: none;
  }

  .sc_layouts_featured.with_image {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }

  .post_item_single .post_content > .post_meta_single .post_share .social_item .social_icon {
    width: 2.55rem;
    height: 2.55rem;
    line-height: 2.55rem;
    text-align: center;
  }

  .socials_wrap .social_item .social_icon {
    font-size: 15px;
  }

  blockquote p {
    font-size: 16px;
  }

  .blog_style_classic_2 .post_content,
  .blog_style_classic_3 .post_content {
    font-size: 14px;
  }

  .sc_button.sc_button_size_large {
    padding: 1em 2em !important;
  }

  .search_wrap .search_results {
    right: -23px;
    left: auto;
    width: 19em;
  }

  .sc_blogger .slider_outer_controls.slider_outer_controls_outside .swiper-button-next,
  .sc_blogger .slider_outer_controls.slider_outer_controls_outside .swiper-button-prev {
    margin-top: -143px;
  }

  .sc_blogger_masonry .masonry_wrap .masonry_item-1_4 {
    width: 50%;
  }

  .sc_blogger_list .sc_blogger_item_title {
    font-size: 24px;
  }

  .widget li > a::after {
    left: -1.65em;
  }

  .comments_list_wrap ul ul ul,
  .comments_list_wrap ul ul {
    margin-left: 20px;
  }

  .sc_blogger_masonry .masonry_wrap .masonry_item {
    padding: 0 30px 30px 0;
  }

  .sc_blogger_masonry .masonry_wrap {
    margin-right: -30px;
  }

  .sc_blogger_masonry .masonry_wrap .masonry_item-1_4 {
    width: 50%;
  }

  .comments_list_wrap .comment_author,
  .comments_list_wrap .comment_posted {
    font-size: 15px;
  }

  .comments_list_wrap li + li,
  .comments_list_wrap li ul {
    margin-top: 0;
  }

  .sc_blogger .slider_outer_controls.slider_outer_controls_outside .swiper-button-next,
  .sc_blogger .slider_outer_controls.slider_outer_controls_outside .swiper-button-prev {
    margin-top: -138px;
  }

  body .mejs-time {
    font-size: 12px;
  }

  .elementor-widget-trx_sc_layouts_featured + .elementor-widget-trx_sc_layouts_title .sc_layouts_title.without_image .sc_layouts_title_content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .mejs-controls .mejs-button > button {
    line-height: 19px;
  }

  .mejs-controls .mejs-playpause-button > button {
    font-size: 12px;
  }

  .mejs-controls .mejs-button > button {
    width: 23px;
    height: 23px;
    line-height: 23px;
    text-align: center;
  }

  .mejs-controls .mejs-button > button {
    font-size: 16px;
  }

  .mejs-horizontal-volume-total {
    width: 30px;
  }

  .mejs-time {
    padding: 4px 6px 0;
  }

  .mejs-horizontal-volume-total {
    top: 8px !important;
  }

  .sc_layouts_menu_nav .menu-collapse > a:before {
    top: -1px;
  }

  .woocommerce .product .compare, .tinv-wishlist.tinvwl-after-add-to-cart .tinvwl_add_to_wishlist_button,
  .woocommerce div.product form.cart .single_add_to_cart_button {
    padding: 0 2em !important;
  }

  .wprm-recipe-summary + .wprm-spacer {
    height: 42px;
  }

  .wprm-recipe-block-container-columns .wprm-recipe-details-label {
    margin-right: 0;
  }

  .nav-links-more a, .woocommerce-links-more a,
  form button:not(.components-button), input[type="button"],
  input[type="reset"], input[type="submit"], .theme_button,
  .sc_layouts_row .sc_button, .gallery_preview_show .post_readmore,
  .wp-block-button__link, .post_item .more-link, div.esg-filter-wrapper .esg-filterbutton > span,
  .mptt-navigation-tabs li a, .blabber_tabs .blabber_tabs_titles li a {
    font-size: 14px;
  }

  form button:not(.components-button), input[type="button"], input[type="reset"],
  input[type="submit"], .theme_button, .post_item .more-link,
  .gallery_preview_show .post_readmore, .wp-block-button__link, #buddypress .comment-reply-link,
  #buddypress .generic-button a, #buddypress a.button, #buddypress button,
  #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress input[type="submit"],
  #buddypress ul.button-nav li a, #buddypress div.activity-meta a, a.bp-title-button,
  body #booked-profile-page input[type="submit"], body #booked-profile-page button,
  body .booked-list-view input[type="submit"], body .booked-list-view button,
  body table.booked-calendar input[type="submit"], body table.booked-calendar button,
  body .booked-modal input[type="submit"], body .booked-modal button,
  .mc4wp-form .mc4wp-form-fields input[type="submit"], .sc_button, .sc_form button,
  .tourmaster-tour-search-wrap input.tourmaster-tour-search-submit[type="submit"],
  #tribe-bar-form .tribe-bar-submit input[type="submit"], #tribe-bar-form.tribe-bar-mini .tribe-bar-submit input[type="submit"],
  #tribe-bar-form button, #tribe-bar-form a, #tribe-bar-form input, #tribe-bar-form .tribe-bar-views-toggle,
  #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
  .tribe-bar-mini #tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
  #tribe-events .tribe-events-button, .tribe-events-button, .tribe-events-cal-links a,
  .tribe-events-sub-nav li a, .tribe-events-read-more, #tribe-events-footer ~ a.tribe-events-ical.tribe-events-button,
  .edd_download_purchase_form .button, #edd-purchase-button, .edd-submit.button, .widget_edd_cart_widget .edd_checkout a,
  .woocommerce .button, .woocommerce-page .button, .woocommerce a.button, .woocommerce button.button,
  .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce input[type="button"],
  .woocommerce-page input[type="button"], .woocommerce input[type="submit"],
  .woocommerce-page input[type="submit"], .woocommerce .woocommerce-message .button,
  .woocommerce ul.products li.product .button, .woocommerce div.product form.cart .button,
  .woocommerce #review_form #respond p.form-submit input[type="submit"],
  .woocommerce-page #review_form #respond p.form-submit input[type="submit"],
  .woocommerce table.my_account_orders .order-actions .button, .woocommerce table.cart td.actions .button,
  #add_payment_method .wc-proceed-to-checkout a.checkout-button, .woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
  .woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
  .woocommerce #respond input#submit[disabled]:disabled, .yith-woocompare-widget a.clear-all {
    padding: 16px 32px;
  }

  .sc_button.sc_button_bordered, .wp-block-button.is-style-outline .wp-block-button__link {
    padding: 14px 32px;
  }

  .page_content_wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sc_blogger.sc_blogger_default .sc_blogger_item_title {
    font-size: 20px;
  }

  .slider_container:not(.slider_height_fixed) .slider-slide {
    max-height: 100%;
  }

  .sc_promo .sc_item_descr.sc_promo_descr {
    margin-bottom: 1em;
  }

  .sc_blogger.sc_blogger_chess .post_meta {
    display: none;
  }

  .sc_layouts_menu_mobile_button .sc_layouts_item_icon,
  .sc_layouts_menu_mobile_button_burger .sc_layouts_item_icon {
    width: 39px;
    height: 39px;
    line-height: 39px;
    font-size: 15px;
  }

  .row, .columns_wrap, .trx_addons_columns_wrap {
    margin-right: -30px;
  }

  .row > [class*="column-"], .columns_wrap > [class*="column-"], .trx_addons_columns_wrap > [class*="trx_addons_column-"] {
    padding-right: 30px;
  }

  .row.columns_padding_bottom > [class*="column-"],
  .columns_wrap.columns_padding_bottom > [class*="column-"],
  .row > [class*="column-"].columns_padding_bottom, .columns_wrap > [class*="column-"].columns_padding_bottom,
  .trx_addons_columns_wrap.columns_padding_bottom > [class*="trx_addons_column-"],
  .trx_addons_columns_wrap > [class*="trx_addons_column-"].columns_padding_bottom {
    padding-bottom: 30px;
  }

  .mejs-controls .mejs-button {
    width: 30px;
  }

  .mejs-controls .mejs-playpause-button {
    margin-right: 6px;
  }

  .mejs-controls .mejs-time {
    margin-top: 2px;
  }

  .mejs-time-rail {
    padding-top: 2px;
  }

  .sc_slider_controls .slider_controls_wrap > a, .slider_container.slider_controls_side .slider_controls_wrap > a, .slider_outer_controls_outside .slider_controls_wrap > a, .slider_outer_controls_side .slider_controls_wrap > a, .slider_outer_controls_top .slider_controls_wrap > a, .slider_outer_controls_bottom .slider_controls_wrap > a {
    width: 39px;
    height: 39px;
    line-height: 39px;
  }

  .wpgdprc-checkbox label input[type="checkbox"]:before {
    top: 3px;
  }

  .trx_addons_reviews_block_detailed .trx_addons_reviews_block_mark_wrap {
    width: 100% !important;
    margin-bottom: 0;
  }

  .trx_addons_reviews_block_detailed .trx_addons_reviews_block_summary {
    width: 100% !important;
  }

  .author_info {
    padding: 0.4em 0 2.3em;
  }

  .trx_addons_reviews_block_short {
    width: 300px;
  }

  .trx_addons_reviews_block_short .trx_addons_reviews_block_info,
  .trx_addons_reviews_block_detailed .trx_addons_reviews_block_buttons,
  .trx_addons_reviews_block_detailed .trx_addons_reviews_block_criterias {
    padding: 2.2em 1em 2.1em;
  }

  .single_style_out-below-fullwidth .post_header_wrap .post_featured.post_featured_bg {
    height: 20rem;
  }

  .trx_addons_reviews_bubble {
    height: 18px;
    line-height: 18px;
    top: -27px;
  }

  .post_meta .post_categories + .post_meta_item {
    margin-left: 10px;
  }

  .sc_blogger.sc_blogger_chess_default .post_layout_chess_1 .post_inner_content {
    padding: 30px 30px;
  }

  .sc_team.sc_team_featured .sc_team_item_subtitle a {
    padding: 6px 9px;
  }
}
@media (max-width: 479px) {
  h1,
  .sc_layouts_title_caption,
  .single-post .sc_layouts_title_caption {
    font-size: 1.5rem;
    line-height: 1.4em;
  }

  .sc_title_accent .title-wrap-go .sc_item_button {
    margin: 1px 0 0 12px;
  }

  .sc_item_title_style_accent > .sc_item_title_text:after {
    margin-left: 12px;
  }

  .sc_item_title_style_accent.sc_align_center > .sc_item_title_text:before {
    margin-right: 12px;
  }

  .sc_item_title_style_accent.sc_align_center > .sc_item_title_text:after {
    margin-left: 12px;
  }

  .sc_title_accent h5.sc_item_title_tag + .sc_item_descr, .sc_title_accent h5.sc_item_title_tag + .sc_item_slider, .sc_title_accent h5.sc_item_title_tag + .sc_item_columns, .sc_title_accent h5.sc_item_title_tag + .sc_item_content {
    margin-top: 0.8em;
  }

  .sc_item_descr p br {
    display: none;
  }

  form.mc4wp-form {
    text-align: left;
  }

  form.mc4wp-form .mc4wp-form-fields input[type="email"] {
    height: 40px;
    line-height: 40px;
    padding: 0 7.7em 0 1.2em;
    font-size: 14px;
  }

  form.mc4wp-form .mc4wp-form-fields input[type="submit"] {
    font-size: 14px;
    height: 40px;
    line-height: 37px;
    min-width: 0.8em;
  }

  .footer_wrap .sc_socials_icons_names .social_item .social_name {
    font-size: 14px;
  }

  .footer_wrap .sc_socials_icons_names .social_item {
    margin: 1px 8px;
    margin-left: 0;
  }

  .socials_wrap .social_item .social_icon {
    width: 2.2em;
    height: 2.2em;
    line-height: 2.2em;
  }

  .sc_blogger .post_layout_chess .post_featured_bg:before {
    padding-top: 130%;
  }

  .sc_blogger .post_layout_chess_1 .post_title {
    font-size: 18px;
  }

  .sc_blogger.sc_blogger_default .sc_blogger_item_default_classic_meta_simple .sc_blogger_item_title {
    font-size: 19px;
  }

  .sticky .post_sticky_wrap {
    padding: 1.6em;
  }

  .wpgdprc-checkbox label input[type="checkbox"]:before {
    top: 3px;
  }

  .sc_blogger .post_layout_chess_1 .post_inner_content {
    padding: 20px;
  }

  .sc_blogger_list .sc_blogger_item_title {
    font-size: 18px;
  }

  .sc_blogger.sc_blogger_default .sc_blogger_item_title {
    font-size: 19px;
  }

  .sc_blogger .post_layout_chess .post_featured {
    width: 100%;
    float: none;
  }

  .sc_blogger .post_layout_chess .post_featured_bg:before {
    padding-top: 80%;
  }

  .sc_blogger .post_layout_chess .post_inner {
    width: 100%;
    position: relative;
  }

  .sc_blogger .post_layout_chess .post_meta {
    display: block !important;
  }

  .sc_blogger .post_layout_chess .post_inner_content {
    padding: 23px 20px 20px;
  }

  .sc_blogger_masonry .masonry_wrap .masonry_item-1_4 {
    width: 100%;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] .sc_blogger_item_title {
    font-size: 18px;
  }

  .sc_blogger_default_over_centered_simple .sc_item_featured [class*="post_info_"] {
    padding: 20px;
    max-width: 100%;
  }

  .elementor-section-stretched .slider_titles_center.slider_container.slider_controls_side .slider_controls_wrap > .slider_prev {
    margin-left: 5px;
  }

  .elementor-section-stretched .slider_titles_center.slider_container.slider_controls_side .slider_controls_wrap > .slider_next {
    margin-right: 5px;
  }

  .slider_container .slide_info.slide_info_large .slide_title {
    font-size: 16px;
  }

  .slider_container .slide_info.slide_info_large .slide_title + .post_meta {
    display: none;
  }

  .slider_container .slide_info.slide_info_large .slide_cats {
    margin: 0 0 5px;
  }

  .swiper-button-next, .swiper-button-prev {
    margin-top: -20px;
  }

  .sc_twitter_default .sc_twitter_item_content {
    font-size: 15px;
    line-height: 1.5em;
  }

  .post_item_single .post_content > .post_meta_single {
    margin-top: 2.5em;
    padding-top: 3em;
  }

  .nav-links-single .nav-links {
    margin-top: 3.3em;
  }

  .post_item_single + .nav-links-single .nav-links {
    padding-top: 3.2em;
  }

  .nav-links-single .nav-links .screen-reader-text:hover, .nav-links-single .nav-links .screen-reader-text {
    margin-bottom: 5px !important;
  }

  .widget ul {
    font-size: 1.05em;
  }

  .widget ul > li:before {
    top: 0.64em;
  }

  /* Spacer */
  .elementor-widget-spacer.sc_height_tiny .elementor-spacer-inner {
    height: 0.7rem !important;
  }

  .elementor-widget-spacer.sc_height_small .elementor-spacer-inner {
    height: 15px !important;
  }

  .elementor-widget-spacer.sc_height_medium .elementor-spacer-inner {
    height: 20px !important;
  }

  .elementor-widget-spacer.sc_height_large .elementor-spacer-inner, .elementor-widget-spacer.sc_height_big .elementor-spacer-inner {
    height: 43px !important;
  }

  /*Slider*/
  .sc_blogger_default.sc_blogger_default_over_centered_middle .sc_blogger_item_title, .slider_titles_outside_wrap .slide_title {
    font-size: 1.7em;
  }

  .sc_item_featured.post_featured_bg[data-ratio="4:12"]:before {
    padding-top: 100%;
  }

  .footer_wrap .sc_socials_icons_names .social_item + .social_item {
    margin-left: 0px;
  }

  .footer_wrap .sc_socials_icons_names .social_item {
    min-width: 38px;
    min-height: 38px;
    padding: 4px 2px;
  }

  .socials_wrap .social_item .social_icon {
    font-size: 14px;
  }

  .sc_blogger_masonry .masonry_wrap .masonry_item {
    padding: 0 0 20px 0;
  }

  .sc_blogger_masonry .masonry_wrap {
    margin-right: 0;
  }

  .sc_blogger_masonry .masonry_wrap .masonry_item-1_4 {
    width: 100%;
  }

  .related_wrap .row:not(.columns_fluid) > [class*="column-"],
  .related_wrap .columns_wrap:not(.columns_fluid) > [class*="column-"],
  .related_wrap .trx_addons_columns_wrap:not(.columns_fluid) > [class*="trx_addons_column-"] {
    width: 100%;
  }

  .woocommerce ul.products li.product,
  .woocommerce-page ul.products li.product,
  .woocommerce ul.products[class*="columns-"] li.product,
  .woocommerce-page ul.products[class*="columns-"] li.product,
  .woocommerce[class*="columns-"] ul.products li.product,
  .woocommerce-page[class*="columns-"] ul.products li.product {
    padding: 0 0 20px 0;
  }

  .wprm-recipe-cost-container,
  .wprm-recipe-author-container {
    margin: 0 auto;
  }

  .wprm-recipe-cost-container,
  .wprm-recipe-author-container,
  .wprm-recipe-servings-container,
  .wprm-recipe-nutrition-container,
  .wprm-recipe-times-container > .wprm-recipe-time-container,
  .wprm-recipe-tag-container {
    margin-bottom: 30px;
    margin-right: 0;
    display: block;
    text-align: center;
  }
  .wprm-recipe-cost-container:last-of-type,
  .wprm-recipe-author-container:last-of-type,
  .wprm-recipe-servings-container:last-of-type,
  .wprm-recipe-nutrition-container:last-of-type,
  .wprm-recipe-times-container > .wprm-recipe-time-container:last-of-type,
  .wprm-recipe-tag-container:last-of-type {
    margin-bottom: 0;
  }

  .wprm-recipe-servings-container, .wprm-recipe-nutrition-container,
  .wprm-recipe-times-container div.wprm-block-text-normal {
    margin-right: 10px;
  }

  .wprm-recipe-servings-container + .wprm-recipe-nutrition-container,
  .wprm-recipe-times-container div.wprm-block-text-normal + div.wprm-block-text-normal,
  .wprm-recipe-tag-container + .wprm-recipe-tag-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .wprm-recipe-times-container {
    display: block;
  }

  .wprm-recipe-author-container,
  .wprm-recipe-cost-container {
    margin: 0 auto;
  }

  .related_wrap .slider_container {
    -webkit-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
  }

  .sc_button, .sc_button_simple, .sc_form button {
    font-size: 1rem;
  }

  .sc_layouts_title.fixed_height .sc_layouts_title_content {
    min-width: 90%;
  }

  .comments_form_wrap {
    padding-top: 3em;
  }

  .trx_addons_reviews_block_short {
    width: 280px;
  }

  .trx_addons_reviews_block_detailed .trx_addons_reviews_block_criterias .trx_addons_reviews_block_list li .trx_addons_reviews_block_list_mark .trx_addons_reviews_text {
    font-size: 12px;
  }

  .trx_addons_reviews_block_detailed .trx_addons_reviews_block_buttons .trx_addons_reviews_block_button {
    padding: 1em 1em;
  }

  .trx_addons_reviews_block_detailed .trx_addons_reviews_block_criterias[data-mark-max="5"] .trx_addons_reviews_block_list_title {
    padding-right: 5em;
  }

  .widget_categories_list .categories_list_style_1 .categories_list_item .categories_list_title {
    font-size: 15px;
  }

  .single_style_out-below-fullwidth .post_header_wrap .post_featured.post_featured_bg {
    height: 16rem;
  }

  blockquote > a, blockquote > p > a, blockquote > cite, blockquote > p > cite {
    font-size: 13px;
  }

  .post_item_none_search .page_title, .post_item_none_archive .page_title {
    font-size: 4em !important;
  }
}

/*# sourceMappingURL=skin-responsive.css.map */
